﻿@import "mixins.scss";
@import "../../../../widgets/brease/Button/meta/Button_base";
.widgets_brease_Button_style_default {
@include widgets_brease_Button_base; 
span {
	font-size: 16px;
}
span {
@include font-weight-bold(true);
}
&:not(.disabled):not(.active):not(.checked) span {
	color: #474747;
}
&.active:not(.disabled):not(.editMode) span {
	color: #FFFFFF;
}
&.checked:not(.disabled) span {
	color: #FFFFFF;
}
@include border-radius(30px);
&:not(.active):not(.checked) {
	border-width: 0px 0px 0px 0px;
}
&.disabled {
	border-width: 0px 0px 0px 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px 0px 0px 0px;
}
&.checked:not(.disabled) {
	border-width: 0px 0px 0px 0px;
}
&:not(.disabled):not(.active):not(.checked) {
@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
}
&.active:not(.disabled) {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ');
}
&.checked:not(.disabled) {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ');
}
&.disabled {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&.disabled.active {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&.disabled.checked {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&:not(.active):not(.checked) {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.active {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.checked {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.active:not(.disabled):not(.editMode) {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}
&.checked:not(.disabled) {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}

}
@import "../../../../widgets/brease/ToggleButton/meta/ToggleButton_base";
.widgets_brease_ToggleButton_style_default {
@include widgets_brease_ToggleButton_base; 
span {
	font-size: 16px;
}
span {
@include font-weight-bold(true);
}
&:not(.disabled):not(.active):not(.checked) span {
	color: #474747;
}
&.active:not(.disabled):not(.editMode) span {
	color: #FFFFFF;
}
&.checked:not(.disabled) span {
	color: #FFFFFF;
}
@include border-radius(30px);
&:not(.active):not(.checked) {
	border-width: 0px 0px 0px 0px;
}
&.disabled {
	border-width: 0px 0px 0px 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px 0px 0px 0px;
}
&.checked:not(.disabled) {
	border-width: 0px 0px 0px 0px;
}
&:not(.disabled):not(.active):not(.checked) {
@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
}
&.active:not(.disabled) {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ');
}
&.checked:not(.disabled) {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ');
}
&.checked:not(.disabled):not(.active) {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ');
}
&.disabled {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&.disabled.active {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&.disabled.checked {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&:not(.active):not(.checked) {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.active {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.checked {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}
&.active:not(.disabled):not(.editMode) {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}
&.checked {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.checked {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}

}
@import "../../../../widgets/brease/Label/meta/Label_base";
.widgets_brease_Label_style_default {
@include widgets_brease_Label_base; 
	font-size: 16px;
& span {
	color: #474747;
}
	background-color: transparent;
	border-style: none;
&:before {
	border-style: none;
}
&:after {
	border-style: none;
}
span {
	padding: 5px;
}

}
@import "../../../../widgets/brease/KeyBoard/meta/KeyBoard_base";
.widgets_brease_KeyBoard_style_default {
@include widgets_brease_KeyBoard_base; 
.keyBoardHeader {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%)');
}
.keyBoardBody {
	background-color: #CCCCCC;
}
	border-color: #7C7C7C;
header {
	background-color: #7C7C7C;
}
.dropdown .button.active {
	background-color: #FFA800;
}
.dropdown .button.selected {
	background-color: #FFA800;
}
.keyBoardBody button.active {
	background-color: #FFA800;
}
.keyBoardBody button.selected {
	background-color: #FFA800;
}
.keyBoardBody button.active .icon-delete {
	color: #FFA800;
}
.keyBoardBody button.selected .icon-delete {
	color: #FFA800;
}
.dropdown {
	color: #000000;
}
.keyBoardButtons button {
	color: #000000;
}
.keyBoardButtons button sub {
	color: #000000;
}
.keyBoardButtons button svg {
	fill: #000000;
}
.keyBoardBody button .icon-shift {
	background-color: #000000;
}
.keyBoardBody button .icon-shift:after {
	border-bottom-color: #000000;
}

}
@import "../../../../widgets/brease/NumPad/meta/NumPad_base";
.widgets_brease_NumPad_style_default {
@include widgets_brease_NumPad_base; 
.numpadHeader {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%)');
}
.numpad {
	background-color: #CCCCCC;
}
	border-color: #7C7C7C;
header {
	background-color: #7C7C7C;
}
&.arrowLeft .breaseWindowArrow {
	border-right-color: #7C7C7C;
}
&.arrowRight .breaseWindowArrow {
	border-left-color: #7C7C7C;
}
&.arrowTop .breaseWindowArrow {
	border-bottom-color: #7C7C7C;
}
&.arrowBottom .breaseWindowArrow {
	border-top-color: #7C7C7C;
}
.breaseNumPadButtons button {
	color: #000000;
}
.maxValueBox .maxValue {
	color: #000000;
}
.maxValueBox label {
	color: #000000;
}
.minValueBox .minValue {
	color: #000000;
}
.minValueBox label {
	color: #000000;
}
.breaseNumPadDeleteIcon {
@include svgcolordelete('#000000');
}
.breaseNumPadEnterIcon {
@include svgcolorenter('#000000');
}
.breaseNumpadSlider .numpadSlider_thumb .numpadSlider_knob {
@include backGroundGradient('radial-gradient(ellipse at left, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%)');
}

}
@import "../../../../widgets/brease/DateTimePicker/meta/DateTimePicker_base";
.widgets_brease_DateTimePicker_style_default {
@include widgets_brease_DateTimePicker_base; 
header {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ');
}
	border-color: #7C7C7C;
header {
	background-color: #7C7C7C;
}
&.arrowLeft .breaseWindowArrow {
	border-right-color: #7C7C7C;
}
&.arrowRight .breaseWindowArrow {
	border-left-color: #7C7C7C;
}
&.arrowTop .breaseWindowArrow {
	border-bottom-color: #7C7C7C;
}
&.arrowBottom .breaseWindowArrow {
	border-top-color: #7C7C7C;
}

}
@import "../../../../widgets/brease/TabControl/meta/TabControl_base";
.widgets_brease_TabControl_style_default {
@include widgets_brease_TabControl_base; 
> .tabItemContainer {
	border-style: none;
}
> .tabItemContainer {
	border-width: 0px;
}
> .tabItemContainer {
	border-color: transparent;
}

}
@import "../../../../widgets/brease/TabItem/meta/TabItem_base";
.widgets_brease_TabItem_style_default {
@include widgets_brease_TabItem_base; 
&.tabItem:not(.active) span {
	color: #474747;
}
&.tabItem span {
	font-size: 16px;
}
&.tabItem:not(.active) {
@include border-radius(8px 8px 0px 0px);
}
&.tabItem:not(.active) {
@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
}
&.tabItem.active {
@include backGroundGradient('linear-gradient(to bottom, #FFAA4D 0%,#FF8500 100%)');
}
&.tabItem:not(.active) {
	border-width: 0px 1px 1px 0px;
}
&.tabItem.active {
	border-width: 0px 1px 1px 0px;
}
&.tabItem:not(.active) {
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
}
&.tabItem.active {
	border-color: #FFA947 #FD7B01 #FD7B01 #FFA947;
}
&.tabItem.active span {
	color: #FFFFFF;
}

}
@import "../../../../widgets/brease/GroupBox/meta/GroupBox_base";
.widgets_brease_GroupBox_style_default {
@include widgets_brease_GroupBox_base; 
> .header {
@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
}
	background-color: #FFFFFF;
> .header span {
	font-size: 16px;
}
> .header {
height: 16px + 20px;
}
> .header span {
	color: #474747;
}
@include border-radius(8px 8px 0px 0px);
	border-width: 1px;
> .header {
	border-width: 1px;
}
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
> .header {
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
}
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));

}
@import "../../../../widgets/brease/TextOutput/meta/TextOutput_base";
.widgets_brease_TextOutput_style_default {
@include widgets_brease_TextOutput_base; 
& span {
	color: #474747;
}
	border-width: 0px;
	font-size: 16px;
	background-color: transparent;
@include font-weight-bold(true);
@include text-alignment-all('left');

}
@import "../../../../widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_default {
@include widgets_brease_Rectangle_base; 
	border-width: 1px;
@include border-radius(0px);
	background-color: transparent;
	border-color: #474747;
	opacity: 1;

}
@import "../../../../widgets/brease/Ellipse/meta/Ellipse_base";
.widgets_brease_Ellipse_style_default {
@include widgets_brease_Ellipse_base; 
	border-width: 1px;
	background-color: transparent;
	border-color: #474747;
	opacity: 1;

}
