﻿@import "mixins.scss";
#content_0_TabControl1 {
	@include elemTop(10);
}
#content_0_TabControl1 {
	@include elemLeft(13);
}
#content_0_TabControl1 {
	@include elemWidth(617);
}
#content_0_TabControl1 {
	@include elemHeight(461);
}
#content_0_TabControl1 {
		z-index: 0;
}
#content_0_TabItem1_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(100);
	}
}
#content_0_TabItem1_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#content_0_TabItem1 {
		z-index: 0;
}
#content_0_TabItem1_breaseTabItemTab {
	&.tabItem{
	@include text-alignment(center);
	}
}
#content_0_GroupBox1 {
	@include elemTop(186);
}
#content_0_GroupBox1 {
	@include elemLeft(7);
}
#content_0_GroupBox1 {
	@include elemWidth(294);
}
#content_0_GroupBox1 {
	@include elemHeight(235);
}
#content_0_GroupBox1 {
		z-index: 0;
}
#content_0_GroupBox1 {
	> .header span{
		font-size: 18px;
	}
}
#content_0_GroupBox1 {
	> .header{
	height: 18px + 20px;
	}
}
#content_0_TextOutput4 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput4 {
	@include elemTop(33);
}
#content_0_TextOutput4 {
	@include elemLeft(72);
}
#content_0_TextOutput4 {
	@include elemAutoWidth(197);
}
#content_0_TextOutput4 {
		z-index: 0;
}
#content_0_TextOutput10 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput10 {
	@include elemTop(86);
}
#content_0_TextOutput10 {
	@include elemLeft(72);
}
#content_0_TextOutput10 {
	@include elemAutoWidth(188);
}
#content_0_TextOutput10 {
		z-index: 1;
}
#content_0_TextOutput11 {
	@include elemAutoWidth(100);
}
#content_0_TextOutput11 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput11 {
	@include elemTop(133);
}
#content_0_TextOutput11 {
	@include elemLeft(72);
}
#content_0_TextOutput11 {
		z-index: 2;
}
#content_0_Ellipse5 {
	@include elemTop(40);
}
#content_0_Ellipse5 {
	@include elemLeft(43);
}
#content_0_Ellipse5 {
	@include elemWidth(20);
}
#content_0_Ellipse5 {
	@include elemHeight(20);
}
#content_0_Ellipse5 {
		z-index: 3;
}
#content_0_Ellipse5 {
		border-width: 10px;
}
#content_0_Ellipse6 {
	@include elemTop(92);
}
#content_0_Ellipse6 {
	@include elemLeft(43);
}
#content_0_Ellipse6 {
	@include elemWidth(20);
}
#content_0_Ellipse6 {
	@include elemHeight(20);
}
#content_0_Ellipse6 {
		z-index: 4;
}
#content_0_Ellipse6 {
		border-width: 10px;
}
#content_0_Ellipse7 {
	@include elemTop(139);
}
#content_0_Ellipse7 {
	@include elemLeft(42);
}
#content_0_Ellipse7 {
	@include elemWidth(20);
}
#content_0_Ellipse7 {
	@include elemHeight(20);
}
#content_0_Ellipse7 {
		z-index: 5;
}
#content_0_Ellipse7 {
		border-width: 10px;
}
#content_0_GroupBox2 {
	@include elemTop(184);
}
#content_0_GroupBox2 {
	@include elemLeft(316);
}
#content_0_GroupBox2 {
	@include elemWidth(294);
}
#content_0_GroupBox2 {
	@include elemHeight(237);
}
#content_0_GroupBox2 {
		z-index: 1;
}
#content_0_GroupBox2 {
	> .header span{
		font-size: 18px;
	}
}
#content_0_GroupBox2 {
	> .header{
	height: 18px + 20px;
	}
}
#content_0_TextOutput12 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput12 {
	@include elemTop(35);
}
#content_0_TextOutput12 {
	@include elemLeft(63);
}
#content_0_TextOutput12 {
	@include elemAutoWidth(183);
}
#content_0_TextOutput12 {
		z-index: 0;
}
#content_0_TextOutput13 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput13 {
	@include elemTop(88);
}
#content_0_TextOutput13 {
	@include elemLeft(63);
}
#content_0_TextOutput13 {
	@include elemAutoWidth(170);
}
#content_0_TextOutput13 {
		z-index: 1;
}
#content_0_TextOutput14 {
	@include elemAutoWidth(100);
}
#content_0_TextOutput14 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput14 {
	@include elemTop(138);
}
#content_0_TextOutput14 {
	@include elemLeft(63);
}
#content_0_TextOutput14 {
		z-index: 2;
}
#content_0_Ellipse8 {
	@include elemTop(43);
}
#content_0_Ellipse8 {
	@include elemLeft(38);
}
#content_0_Ellipse8 {
	@include elemWidth(20);
}
#content_0_Ellipse8 {
	@include elemHeight(20);
}
#content_0_Ellipse8 {
		z-index: 3;
}
#content_0_Ellipse8 {
		border-width: 10px;
}
#content_0_Ellipse9 {
	@include elemTop(93);
}
#content_0_Ellipse9 {
	@include elemLeft(38);
}
#content_0_Ellipse9 {
	@include elemWidth(20);
}
#content_0_Ellipse9 {
	@include elemHeight(20);
}
#content_0_Ellipse9 {
		z-index: 4;
}
#content_0_Ellipse9 {
		border-width: 10px;
}
#content_0_Ellipse10 {
	@include elemTop(140);
}
#content_0_Ellipse10 {
	@include elemLeft(38);
}
#content_0_Ellipse10 {
	@include elemWidth(20);
}
#content_0_Ellipse10 {
	@include elemHeight(20);
}
#content_0_Ellipse10 {
		z-index: 5;
}
#content_0_Ellipse10 {
		border-width: 10px;
}
#content_0_GroupBox3 {
	@include elemTop(18);
}
#content_0_GroupBox3 {
	@include elemLeft(7);
}
#content_0_GroupBox3 {
	@include elemWidth(294);
}
#content_0_GroupBox3 {
	@include elemHeight(159);
}
#content_0_GroupBox3 {
		z-index: 2;
}
#content_0_GroupBox3 {
	> .header span{
		font-size: 16px;
	}
}
#content_0_GroupBox3 {
	> .header{
	height: 16px + 20px;
	}
}
#content_0_ToggleButton1 {
	@include elemAutoWidth(100);
}
#content_0_ToggleButton1 {
	@include elemTop(20);
}
#content_0_ToggleButton1 {
	@include elemLeft(51);
}
#content_0_ToggleButton1 {
	@include elemAutoHeight(40);
}
#content_0_ToggleButton1 {
		z-index: 0;
}
#content_0_ToggleButton1 {
	span{
	@include font-weight-bold(true);
	}
}
#content_0_ToggleButton3 {
	@include elemAutoWidth(100);
}
#content_0_ToggleButton3 {
	@include elemTop(69);
}
#content_0_ToggleButton3 {
	@include elemLeft(98);
}
#content_0_ToggleButton3 {
	@include elemAutoHeight(40);
}
#content_0_ToggleButton3 {
		z-index: 1;
}
#content_0_ToggleButton3 {
	span{
	@include font-weight-bold(true);
	}
}
#content_0_ToggleButton2 {
	@include elemAutoWidth(100);
}
#content_0_ToggleButton2 {
	@include elemTop(19);
}
#content_0_ToggleButton2 {
	@include elemLeft(158);
}
#content_0_ToggleButton2 {
	@include elemAutoHeight(40);
}
#content_0_ToggleButton2 {
		z-index: 2;
}
#content_0_ToggleButton2 {
	span{
	@include font-weight-bold(true);
	}
}
#content_0_GroupBox4 {
	@include elemTop(17);
}
#content_0_GroupBox4 {
	@include elemLeft(316);
}
#content_0_GroupBox4 {
	@include elemWidth(294);
}
#content_0_GroupBox4 {
	@include elemHeight(161);
}
#content_0_GroupBox4 {
		z-index: 3;
}
#content_0_GroupBox4 {
	> .header span{
		font-size: 16px;
	}
}
#content_0_GroupBox4 {
	> .header{
	height: 16px + 20px;
	}
}
#content_0_Ellipse1 {
	@include elemTop(26);
}
#content_0_Ellipse1 {
	@include elemLeft(98);
}
#content_0_Ellipse1 {
	@include elemWidth(20);
}
#content_0_Ellipse1 {
	@include elemHeight(20);
}
#content_0_Ellipse1 {
		z-index: 0;
}
#content_0_Ellipse1 {
		border-width: 10px;
}
#content_0_Ellipse1 {
		background-color: rgba(255, 255, 255, 0);
}
#content_0_Ellipse2 {
	@include elemTop(51);
}
#content_0_Ellipse2 {
	@include elemLeft(98);
}
#content_0_Ellipse2 {
	@include elemWidth(20);
}
#content_0_Ellipse2 {
	@include elemHeight(20);
}
#content_0_Ellipse2 {
		z-index: 1;
}
#content_0_Ellipse2 {
		border-width: 10px;
}
#content_0_Ellipse3 {
	@include elemTop(78);
}
#content_0_Ellipse3 {
	@include elemLeft(98);
}
#content_0_Ellipse3 {
	@include elemWidth(20);
}
#content_0_Ellipse3 {
	@include elemHeight(20);
}
#content_0_Ellipse3 {
		z-index: 2;
}
#content_0_Ellipse3 {
		border-width: 10px;
}
#content_0_Ellipse4 {
	@include elemTop(102);
}
#content_0_Ellipse4 {
	@include elemLeft(98);
}
#content_0_Ellipse4 {
	@include elemWidth(20);
}
#content_0_Ellipse4 {
	@include elemHeight(20);
}
#content_0_Ellipse4 {
		z-index: 3;
}
#content_0_Ellipse4 {
		border-width: 10px;
}
#content_0_TextOutput2 {
	@include elemAutoWidth(100);
}
#content_0_TextOutput2 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput2 {
	@include elemTop(20);
}
#content_0_TextOutput2 {
	@include elemLeft(172);
}
#content_0_TextOutput2 {
		z-index: 4;
}
#content_0_TextOutput2 {
	@include text-alignment-all('center');
}
#content_0_TextOutput2 {
		font-size: 60px;
}
#content_0_TextOutput2 {
	@include font-weight-bold(true);
}
#content_0_TextOutput2 {
	span{
	@include text-decoration-underline(false);
	}
}
#content_0_TextOutput3 {
	@include elemAutoWidth(100);
}
#content_0_TextOutput3 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput3 {
	@include elemTop(20);
}
#content_0_TextOutput3 {
	@include elemLeft(171);
}
#content_0_TextOutput3 {
		z-index: 5;
}
#content_0_TextOutput3 {
	@include text-alignment-all('center');
}
#content_0_TextOutput3 {
		font-size: 60px;
}
#content_0_TextOutput3 {
	@include font-weight-bold(true);
}
#content_0_TextOutput5 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput5 {
	@include elemTop(0);
}
#content_0_TextOutput5 {
	@include elemLeft(84);
}
#content_0_TextOutput5 {
	@include elemAutoWidth(47);
}
#content_0_TextOutput5 {
		z-index: 6;
}
#content_0_TextOutput5 {
	@include text-alignment-all('center');
}
#content_0_TextOutput5 {
	@include font-weight-bold(true);
}
#content_0_TextOutput6 {
	@include elemTop(0);
}
#content_0_TextOutput6 {
	@include elemLeft(184);
}
#content_0_TextOutput6 {
	@include elemAutoWidth(67);
}
#content_0_TextOutput6 {
	@include elemAutoHeight(20);
}
#content_0_TextOutput6 {
		z-index: 7;
}
#content_0_TextOutput6 {
	@include font-weight-bold(true);
}
#content_0_TextOutput1 {
	@include elemTop(26);
}
#content_0_TextOutput1 {
	@include elemLeft(16);
}
#content_0_TextOutput1 {
	@include elemAutoWidth(76);
}
#content_0_TextOutput1 {
	@include elemAutoHeight(15);
}
#content_0_TextOutput1 {
		z-index: 8;
}
#content_0_TextOutput1 {
	@include text-alignment-all('right');
}
#content_0_TextOutput7 {
	@include elemTop(51);
}
#content_0_TextOutput7 {
	@include elemLeft(14);
}
#content_0_TextOutput7 {
	@include elemAutoWidth(78);
}
#content_0_TextOutput7 {
	@include elemAutoHeight(15);
}
#content_0_TextOutput7 {
		z-index: 9;
}
#content_0_TextOutput7 {
	@include text-alignment-all('right');
}
#content_0_TextOutput8 {
	@include elemTop(78);
}
#content_0_TextOutput8 {
	@include elemLeft(14);
}
#content_0_TextOutput8 {
	@include elemAutoWidth(78);
}
#content_0_TextOutput8 {
	@include elemAutoHeight(17);
}
#content_0_TextOutput8 {
		z-index: 10;
}
#content_0_TextOutput8 {
	@include text-alignment-all('right');
}
#content_0_TextOutput9 {
	@include elemTop(101);
}
#content_0_TextOutput9 {
	@include elemLeft(22);
}
#content_0_TextOutput9 {
	@include elemAutoWidth(70);
}
#content_0_TextOutput9 {
	@include elemAutoHeight(20);
}
#content_0_TextOutput9 {
		z-index: 11;
}
#content_0_TextOutput9 {
	@include text-alignment-all('right');
}
#content_0_TextOutput15 {
	@include elemAutoWidth(100);
}
#content_0_TextOutput15 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput15 {
	@include elemTop(51);
}
#content_0_TextOutput15 {
	@include elemLeft(180);
}
#content_0_TextOutput15 {
		z-index: 12;
}
#content_0_TextOutput15 {
	@include font-weight-bold(true);
}
#content_0_Ellipse11 {
	@include elemTop(87);
}
#content_0_Ellipse11 {
	@include elemLeft(203);
}
#content_0_Ellipse11 {
	@include elemWidth(20);
}
#content_0_Ellipse11 {
	@include elemHeight(20);
}
#content_0_Ellipse11 {
		z-index: 13;
}
#content_0_Ellipse11 {
		border-width: 10px;
}
#content_0_TabItem2_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(100);
	}
}
#content_0_TabItem2_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#content_0_TabItem2 {
		z-index: 1;
}
#content_0_TabItem2_breaseTabItemTab {
	&.tabItem{
	@include text-alignment(center);
	}
}
#content_0_GroupBox5 {
	@include elemTop(25);
}
#content_0_GroupBox5 {
	@include elemLeft(5);
}
#content_0_GroupBox5 {
	@include elemWidth(303);
}
#content_0_GroupBox5 {
	@include elemHeight(399);
}
#content_0_GroupBox5 {
		z-index: 0;
}
#content_0_TextOutput16 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput16 {
	@include elemTop(4);
}
#content_0_TextOutput16 {
	@include elemLeft(48);
}
#content_0_TextOutput16 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput16 {
		z-index: 0;
}
#content_0_TextOutput17 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput17 {
	@include elemTop(33);
}
#content_0_TextOutput17 {
	@include elemLeft(48);
}
#content_0_TextOutput17 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput17 {
		z-index: 1;
}
#content_0_TextOutput18 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput18 {
	@include elemTop(63);
}
#content_0_TextOutput18 {
	@include elemLeft(48);
}
#content_0_TextOutput18 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput18 {
		z-index: 2;
}
#content_0_TextOutput19 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput19 {
	@include elemTop(92);
}
#content_0_TextOutput19 {
	@include elemLeft(48);
}
#content_0_TextOutput19 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput19 {
		z-index: 3;
}
#content_0_TextOutput20 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput20 {
	@include elemTop(121);
}
#content_0_TextOutput20 {
	@include elemLeft(48);
}
#content_0_TextOutput20 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput20 {
		z-index: 4;
}
#content_0_TextOutput21 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput21 {
	@include elemTop(149);
}
#content_0_TextOutput21 {
	@include elemLeft(48);
}
#content_0_TextOutput21 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput21 {
		z-index: 5;
}
#content_0_TextOutput22 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput22 {
	@include elemTop(179);
}
#content_0_TextOutput22 {
	@include elemLeft(48);
}
#content_0_TextOutput22 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput22 {
		z-index: 6;
}
#content_0_TextOutput23 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput23 {
	@include elemTop(205);
}
#content_0_TextOutput23 {
	@include elemLeft(48);
}
#content_0_TextOutput23 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput23 {
		z-index: 7;
}
#content_0_TextOutput24 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput24 {
	@include elemTop(232);
}
#content_0_TextOutput24 {
	@include elemLeft(48);
}
#content_0_TextOutput24 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput24 {
		z-index: 8;
}
#content_0_TextOutput25 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput25 {
	@include elemTop(261);
}
#content_0_TextOutput25 {
	@include elemLeft(48);
}
#content_0_TextOutput25 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput25 {
		z-index: 9;
}
#content_0_TextOutput26 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput26 {
	@include elemTop(291);
}
#content_0_TextOutput26 {
	@include elemLeft(48);
}
#content_0_TextOutput26 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput26 {
		z-index: 10;
}
#content_0_TextOutput27 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput27 {
	@include elemTop(322);
}
#content_0_TextOutput27 {
	@include elemLeft(48);
}
#content_0_TextOutput27 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput27 {
		z-index: 11;
}
#content_0_Ellipse36 {
	@include elemTop(7);
}
#content_0_Ellipse36 {
	@include elemLeft(19);
}
#content_0_Ellipse36 {
	@include elemWidth(20);
}
#content_0_Ellipse36 {
	@include elemHeight(20);
}
#content_0_Ellipse36 {
		z-index: 12;
}
#content_0_Ellipse36 {
		border-width: 10px;
}
#content_0_Ellipse37 {
	@include elemTop(37);
}
#content_0_Ellipse37 {
	@include elemLeft(19);
}
#content_0_Ellipse37 {
	@include elemWidth(20);
}
#content_0_Ellipse37 {
	@include elemHeight(20);
}
#content_0_Ellipse37 {
		z-index: 13;
}
#content_0_Ellipse37 {
		border-width: 10px;
}
#content_0_Ellipse38 {
	@include elemTop(69);
}
#content_0_Ellipse38 {
	@include elemLeft(19);
}
#content_0_Ellipse38 {
	@include elemWidth(20);
}
#content_0_Ellipse38 {
	@include elemHeight(20);
}
#content_0_Ellipse38 {
		z-index: 14;
}
#content_0_Ellipse38 {
		border-width: 10px;
}
#content_0_Ellipse39 {
	@include elemTop(97);
}
#content_0_Ellipse39 {
	@include elemLeft(19);
}
#content_0_Ellipse39 {
	@include elemWidth(20);
}
#content_0_Ellipse39 {
	@include elemHeight(20);
}
#content_0_Ellipse39 {
		z-index: 15;
}
#content_0_Ellipse39 {
		border-width: 10px;
}
#content_0_Ellipse40 {
	@include elemTop(126);
}
#content_0_Ellipse40 {
	@include elemLeft(19);
}
#content_0_Ellipse40 {
	@include elemWidth(20);
}
#content_0_Ellipse40 {
	@include elemHeight(20);
}
#content_0_Ellipse40 {
		z-index: 16;
}
#content_0_Ellipse40 {
		border-width: 10px;
}
#content_0_Ellipse41 {
	@include elemTop(151);
}
#content_0_Ellipse41 {
	@include elemLeft(19);
}
#content_0_Ellipse41 {
	@include elemWidth(20);
}
#content_0_Ellipse41 {
	@include elemHeight(20);
}
#content_0_Ellipse41 {
		z-index: 17;
}
#content_0_Ellipse41 {
		border-width: 10px;
}
#content_0_Ellipse42 {
	@include elemTop(178);
}
#content_0_Ellipse42 {
	@include elemLeft(19);
}
#content_0_Ellipse42 {
	@include elemWidth(20);
}
#content_0_Ellipse42 {
	@include elemHeight(20);
}
#content_0_Ellipse42 {
		z-index: 18;
}
#content_0_Ellipse42 {
		border-width: 10px;
}
#content_0_Ellipse43 {
	@include elemTop(206);
}
#content_0_Ellipse43 {
	@include elemLeft(19);
}
#content_0_Ellipse43 {
	@include elemWidth(20);
}
#content_0_Ellipse43 {
	@include elemHeight(20);
}
#content_0_Ellipse43 {
		z-index: 19;
}
#content_0_Ellipse43 {
		border-width: 10px;
}
#content_0_Ellipse44 {
	@include elemTop(236);
}
#content_0_Ellipse44 {
	@include elemLeft(19);
}
#content_0_Ellipse44 {
	@include elemWidth(20);
}
#content_0_Ellipse44 {
	@include elemHeight(20);
}
#content_0_Ellipse44 {
		z-index: 20;
}
#content_0_Ellipse44 {
		border-width: 10px;
}
#content_0_Ellipse45 {
	@include elemTop(265);
}
#content_0_Ellipse45 {
	@include elemLeft(19);
}
#content_0_Ellipse45 {
	@include elemWidth(20);
}
#content_0_Ellipse45 {
	@include elemHeight(20);
}
#content_0_Ellipse45 {
		z-index: 21;
}
#content_0_Ellipse45 {
		border-width: 10px;
}
#content_0_Ellipse46 {
	@include elemTop(295);
}
#content_0_Ellipse46 {
	@include elemLeft(19);
}
#content_0_Ellipse46 {
	@include elemWidth(20);
}
#content_0_Ellipse46 {
	@include elemHeight(20);
}
#content_0_Ellipse46 {
		z-index: 22;
}
#content_0_Ellipse46 {
		border-width: 10px;
}
#content_0_Ellipse47 {
	@include elemTop(329);
}
#content_0_Ellipse47 {
	@include elemLeft(19);
}
#content_0_Ellipse47 {
	@include elemWidth(20);
}
#content_0_Ellipse47 {
	@include elemHeight(20);
}
#content_0_Ellipse47 {
		z-index: 23;
}
#content_0_Ellipse47 {
		border-width: 10px;
}
#content_0_GroupBox6 {
	@include elemTop(25);
}
#content_0_GroupBox6 {
	@include elemLeft(313);
}
#content_0_GroupBox6 {
	@include elemWidth(297);
}
#content_0_GroupBox6 {
	@include elemHeight(399);
}
#content_0_GroupBox6 {
		z-index: 1;
}
#content_0_TextOutput28 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput28 {
	@include elemTop(3);
}
#content_0_TextOutput28 {
	@include elemLeft(45);
}
#content_0_TextOutput28 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput28 {
		z-index: 0;
}
#content_0_TextOutput29 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput29 {
	@include elemTop(32);
}
#content_0_TextOutput29 {
	@include elemLeft(45);
}
#content_0_TextOutput29 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput29 {
		z-index: 1;
}
#content_0_TextOutput30 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput30 {
	@include elemTop(62);
}
#content_0_TextOutput30 {
	@include elemLeft(45);
}
#content_0_TextOutput30 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput30 {
		z-index: 2;
}
#content_0_TextOutput31 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput31 {
	@include elemTop(91);
}
#content_0_TextOutput31 {
	@include elemLeft(45);
}
#content_0_TextOutput31 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput31 {
		z-index: 3;
}
#content_0_TextOutput32 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput32 {
	@include elemTop(120);
}
#content_0_TextOutput32 {
	@include elemLeft(45);
}
#content_0_TextOutput32 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput32 {
		z-index: 4;
}
#content_0_TextOutput33 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput33 {
	@include elemTop(148);
}
#content_0_TextOutput33 {
	@include elemLeft(45);
}
#content_0_TextOutput33 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput33 {
		z-index: 5;
}
#content_0_TextOutput34 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput34 {
	@include elemTop(178);
}
#content_0_TextOutput34 {
	@include elemLeft(45);
}
#content_0_TextOutput34 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput34 {
		z-index: 6;
}
#content_0_TextOutput35 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput35 {
	@include elemTop(204);
}
#content_0_TextOutput35 {
	@include elemLeft(45);
}
#content_0_TextOutput35 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput35 {
		z-index: 7;
}
#content_0_TextOutput36 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput36 {
	@include elemTop(231);
}
#content_0_TextOutput36 {
	@include elemLeft(45);
}
#content_0_TextOutput36 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput36 {
		z-index: 8;
}
#content_0_TextOutput37 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput37 {
	@include elemTop(260);
}
#content_0_TextOutput37 {
	@include elemLeft(45);
}
#content_0_TextOutput37 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput37 {
		z-index: 9;
}
#content_0_TextOutput38 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput38 {
	@include elemTop(290);
}
#content_0_TextOutput38 {
	@include elemLeft(45);
}
#content_0_TextOutput38 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput38 {
		z-index: 10;
}
#content_0_TextOutput39 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput39 {
	@include elemTop(321);
}
#content_0_TextOutput39 {
	@include elemLeft(45);
}
#content_0_TextOutput39 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput39 {
		z-index: 11;
}
#content_0_Ellipse48 {
	@include elemTop(8);
}
#content_0_Ellipse48 {
	@include elemLeft(17);
}
#content_0_Ellipse48 {
	@include elemWidth(20);
}
#content_0_Ellipse48 {
	@include elemHeight(20);
}
#content_0_Ellipse48 {
		z-index: 12;
}
#content_0_Ellipse48 {
		border-width: 10px;
}
#content_0_Ellipse49 {
	@include elemTop(39);
}
#content_0_Ellipse49 {
	@include elemLeft(17);
}
#content_0_Ellipse49 {
	@include elemWidth(20);
}
#content_0_Ellipse49 {
	@include elemHeight(20);
}
#content_0_Ellipse49 {
		z-index: 13;
}
#content_0_Ellipse49 {
		border-width: 10px;
}
#content_0_Ellipse50 {
	@include elemTop(70);
}
#content_0_Ellipse50 {
	@include elemLeft(17);
}
#content_0_Ellipse50 {
	@include elemWidth(20);
}
#content_0_Ellipse50 {
	@include elemHeight(20);
}
#content_0_Ellipse50 {
		z-index: 14;
}
#content_0_Ellipse50 {
		border-width: 10px;
}
#content_0_Ellipse51 {
	@include elemTop(98);
}
#content_0_Ellipse51 {
	@include elemLeft(17);
}
#content_0_Ellipse51 {
	@include elemWidth(20);
}
#content_0_Ellipse51 {
	@include elemHeight(20);
}
#content_0_Ellipse51 {
		z-index: 15;
}
#content_0_Ellipse51 {
		border-width: 10px;
}
#content_0_Ellipse52 {
	@include elemTop(128);
}
#content_0_Ellipse52 {
	@include elemLeft(17);
}
#content_0_Ellipse52 {
	@include elemWidth(20);
}
#content_0_Ellipse52 {
	@include elemHeight(20);
}
#content_0_Ellipse52 {
		z-index: 16;
}
#content_0_Ellipse52 {
		border-width: 10px;
}
#content_0_Ellipse53 {
	@include elemTop(155);
}
#content_0_Ellipse53 {
	@include elemLeft(17);
}
#content_0_Ellipse53 {
	@include elemWidth(20);
}
#content_0_Ellipse53 {
	@include elemHeight(20);
}
#content_0_Ellipse53 {
		z-index: 17;
}
#content_0_Ellipse53 {
		border-width: 10px;
}
#content_0_Ellipse54 {
	@include elemTop(185);
}
#content_0_Ellipse54 {
	@include elemLeft(17);
}
#content_0_Ellipse54 {
	@include elemWidth(20);
}
#content_0_Ellipse54 {
	@include elemHeight(20);
}
#content_0_Ellipse54 {
		z-index: 18;
}
#content_0_Ellipse54 {
		border-width: 10px;
}
#content_0_Ellipse55 {
	@include elemTop(212);
}
#content_0_Ellipse55 {
	@include elemLeft(17);
}
#content_0_Ellipse55 {
	@include elemWidth(20);
}
#content_0_Ellipse55 {
	@include elemHeight(20);
}
#content_0_Ellipse55 {
		z-index: 19;
}
#content_0_Ellipse55 {
		border-width: 10px;
}
#content_0_Ellipse56 {
	@include elemTop(237);
}
#content_0_Ellipse56 {
	@include elemLeft(17);
}
#content_0_Ellipse56 {
	@include elemWidth(20);
}
#content_0_Ellipse56 {
	@include elemHeight(20);
}
#content_0_Ellipse56 {
		z-index: 20;
}
#content_0_Ellipse56 {
		border-width: 10px;
}
#content_0_Ellipse57 {
	@include elemTop(264);
}
#content_0_Ellipse57 {
	@include elemLeft(17);
}
#content_0_Ellipse57 {
	@include elemWidth(20);
}
#content_0_Ellipse57 {
	@include elemHeight(20);
}
#content_0_Ellipse57 {
		z-index: 21;
}
#content_0_Ellipse57 {
		border-width: 10px;
}
#content_0_Ellipse58 {
	@include elemTop(294);
}
#content_0_Ellipse58 {
	@include elemLeft(17);
}
#content_0_Ellipse58 {
	@include elemWidth(20);
}
#content_0_Ellipse58 {
	@include elemHeight(20);
}
#content_0_Ellipse58 {
		z-index: 22;
}
#content_0_Ellipse58 {
		border-width: 10px;
}
#content_0_Ellipse59 {
	@include elemTop(324);
}
#content_0_Ellipse59 {
	@include elemLeft(17);
}
#content_0_Ellipse59 {
	@include elemWidth(20);
}
#content_0_Ellipse59 {
	@include elemHeight(20);
}
#content_0_Ellipse59 {
		z-index: 23;
}
#content_0_Ellipse59 {
		border-width: 10px;
}
#content_0_TabItem3_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(100);
	}
}
#content_0_TabItem3_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(30);
	}
}
#content_0_TabItem3 {
		z-index: 2;
}
#content_0_GroupBox7 {
	@include elemTop(25);
}
#content_0_GroupBox7 {
	@include elemLeft(7);
}
#content_0_GroupBox7 {
	@include elemWidth(299);
}
#content_0_GroupBox7 {
	@include elemHeight(399);
}
#content_0_GroupBox7 {
		z-index: 0;
}
#content_0_TextOutput40 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput40 {
	@include elemTop(6);
}
#content_0_TextOutput40 {
	@include elemLeft(25);
}
#content_0_TextOutput40 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput40 {
		z-index: 0;
}
#content_0_TextOutput41 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput41 {
	@include elemTop(34);
}
#content_0_TextOutput41 {
	@include elemLeft(25);
}
#content_0_TextOutput41 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput41 {
		z-index: 1;
}
#content_0_TextOutput42 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput42 {
	@include elemTop(64);
}
#content_0_TextOutput42 {
	@include elemLeft(25);
}
#content_0_TextOutput42 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput42 {
		z-index: 2;
}
#content_0_TextOutput43 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput43 {
	@include elemTop(96);
}
#content_0_TextOutput43 {
	@include elemLeft(25);
}
#content_0_TextOutput43 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput43 {
		z-index: 3;
}
#content_0_TextOutput44 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput44 {
	@include elemTop(127);
}
#content_0_TextOutput44 {
	@include elemLeft(25);
}
#content_0_TextOutput44 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput44 {
		z-index: 4;
}
#content_0_TextOutput45 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput45 {
	@include elemTop(158);
}
#content_0_TextOutput45 {
	@include elemLeft(25);
}
#content_0_TextOutput45 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput45 {
		z-index: 5;
}
#content_0_TextOutput46 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput46 {
	@include elemTop(186);
}
#content_0_TextOutput46 {
	@include elemLeft(25);
}
#content_0_TextOutput46 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput46 {
		z-index: 6;
}
#content_0_TextOutput47 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput47 {
	@include elemTop(219);
}
#content_0_TextOutput47 {
	@include elemLeft(25);
}
#content_0_TextOutput47 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput47 {
		z-index: 7;
}
#content_0_TextOutput48 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput48 {
	@include elemTop(248);
}
#content_0_TextOutput48 {
	@include elemLeft(25);
}
#content_0_TextOutput48 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput48 {
		z-index: 8;
}
#content_0_TextOutput49 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput49 {
	@include elemTop(279);
}
#content_0_TextOutput49 {
	@include elemLeft(25);
}
#content_0_TextOutput49 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput49 {
		z-index: 9;
}
#content_0_TextOutput50 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput50 {
	@include elemTop(307);
}
#content_0_TextOutput50 {
	@include elemLeft(25);
}
#content_0_TextOutput50 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput50 {
		z-index: 10;
}
#content_0_TextOutput51 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput51 {
	@include elemTop(336);
}
#content_0_TextOutput51 {
	@include elemLeft(25);
}
#content_0_TextOutput51 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput51 {
		z-index: 11;
}
#content_0_Ellipse12 {
	@include elemTop(11);
}
#content_0_Ellipse12 {
	@include elemLeft(13);
}
#content_0_Ellipse12 {
	@include elemWidth(20);
}
#content_0_Ellipse12 {
	@include elemHeight(20);
}
#content_0_Ellipse12 {
		z-index: 12;
}
#content_0_Ellipse12 {
		border-width: 10px;
}
#content_0_Ellipse13 {
	@include elemTop(39);
}
#content_0_Ellipse13 {
	@include elemLeft(13);
}
#content_0_Ellipse13 {
	@include elemWidth(20);
}
#content_0_Ellipse13 {
	@include elemHeight(20);
}
#content_0_Ellipse13 {
		z-index: 13;
}
#content_0_Ellipse13 {
		border-width: 10px;
}
#content_0_Ellipse14 {
	@include elemTop(72);
}
#content_0_Ellipse14 {
	@include elemLeft(13);
}
#content_0_Ellipse14 {
	@include elemWidth(20);
}
#content_0_Ellipse14 {
	@include elemHeight(20);
}
#content_0_Ellipse14 {
		z-index: 14;
}
#content_0_Ellipse14 {
		border-width: 10px;
}
#content_0_Ellipse15 {
	@include elemTop(101);
}
#content_0_Ellipse15 {
	@include elemLeft(13);
}
#content_0_Ellipse15 {
	@include elemWidth(20);
}
#content_0_Ellipse15 {
	@include elemHeight(20);
}
#content_0_Ellipse15 {
		z-index: 15;
}
#content_0_Ellipse15 {
		border-width: 10px;
}
#content_0_Ellipse16 {
	@include elemTop(131);
}
#content_0_Ellipse16 {
	@include elemLeft(13);
}
#content_0_Ellipse16 {
	@include elemWidth(20);
}
#content_0_Ellipse16 {
	@include elemHeight(20);
}
#content_0_Ellipse16 {
		z-index: 16;
}
#content_0_Ellipse16 {
		border-width: 10px;
}
#content_0_Ellipse17 {
	@include elemTop(162);
}
#content_0_Ellipse17 {
	@include elemLeft(13);
}
#content_0_Ellipse17 {
	@include elemWidth(20);
}
#content_0_Ellipse17 {
	@include elemHeight(20);
}
#content_0_Ellipse17 {
		z-index: 17;
}
#content_0_Ellipse17 {
		border-width: 10px;
}
#content_0_Ellipse18 {
	@include elemTop(192);
}
#content_0_Ellipse18 {
	@include elemLeft(13);
}
#content_0_Ellipse18 {
	@include elemWidth(20);
}
#content_0_Ellipse18 {
	@include elemHeight(20);
}
#content_0_Ellipse18 {
		z-index: 18;
}
#content_0_Ellipse18 {
		border-width: 10px;
}
#content_0_Ellipse19 {
	@include elemTop(223);
}
#content_0_Ellipse19 {
	@include elemLeft(13);
}
#content_0_Ellipse19 {
	@include elemWidth(20);
}
#content_0_Ellipse19 {
	@include elemHeight(20);
}
#content_0_Ellipse19 {
		z-index: 19;
}
#content_0_Ellipse19 {
		border-width: 10px;
}
#content_0_Ellipse20 {
	@include elemTop(253);
}
#content_0_Ellipse20 {
	@include elemLeft(13);
}
#content_0_Ellipse20 {
	@include elemWidth(20);
}
#content_0_Ellipse20 {
	@include elemHeight(20);
}
#content_0_Ellipse20 {
		z-index: 20;
}
#content_0_Ellipse20 {
		border-width: 10px;
}
#content_0_Ellipse21 {
	@include elemTop(283);
}
#content_0_Ellipse21 {
	@include elemLeft(13);
}
#content_0_Ellipse21 {
	@include elemWidth(20);
}
#content_0_Ellipse21 {
	@include elemHeight(20);
}
#content_0_Ellipse21 {
		z-index: 21;
}
#content_0_Ellipse21 {
		border-width: 10px;
}
#content_0_Ellipse22 {
	@include elemTop(311);
}
#content_0_Ellipse22 {
	@include elemLeft(13);
}
#content_0_Ellipse22 {
	@include elemWidth(20);
}
#content_0_Ellipse22 {
	@include elemHeight(20);
}
#content_0_Ellipse22 {
		z-index: 22;
}
#content_0_Ellipse22 {
		border-width: 10px;
}
#content_0_Ellipse23 {
	@include elemTop(340);
}
#content_0_Ellipse23 {
	@include elemLeft(13);
}
#content_0_Ellipse23 {
	@include elemWidth(20);
}
#content_0_Ellipse23 {
	@include elemHeight(20);
}
#content_0_Ellipse23 {
		z-index: 23;
}
#content_0_Ellipse23 {
		border-width: 10px;
}
#content_0_GroupBox8 {
	@include elemTop(25);
}
#content_0_GroupBox8 {
	@include elemLeft(312);
}
#content_0_GroupBox8 {
	@include elemWidth(300);
}
#content_0_GroupBox8 {
	@include elemHeight(399);
}
#content_0_GroupBox8 {
		z-index: 1;
}
#content_0_TextOutput52 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput52 {
	@include elemTop(7);
}
#content_0_TextOutput52 {
	@include elemLeft(54);
}
#content_0_TextOutput52 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput52 {
		z-index: 0;
}
#content_0_TextOutput53 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput53 {
	@include elemTop(35);
}
#content_0_TextOutput53 {
	@include elemLeft(54);
}
#content_0_TextOutput53 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput53 {
		z-index: 1;
}
#content_0_TextOutput54 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput54 {
	@include elemTop(65);
}
#content_0_TextOutput54 {
	@include elemLeft(54);
}
#content_0_TextOutput54 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput54 {
		z-index: 2;
}
#content_0_TextOutput55 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput55 {
	@include elemTop(97);
}
#content_0_TextOutput55 {
	@include elemLeft(54);
}
#content_0_TextOutput55 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput55 {
		z-index: 3;
}
#content_0_TextOutput56 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput56 {
	@include elemTop(128);
}
#content_0_TextOutput56 {
	@include elemLeft(54);
}
#content_0_TextOutput56 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput56 {
		z-index: 4;
}
#content_0_TextOutput57 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput57 {
	@include elemTop(159);
}
#content_0_TextOutput57 {
	@include elemLeft(54);
}
#content_0_TextOutput57 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput57 {
		z-index: 5;
}
#content_0_TextOutput58 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput58 {
	@include elemTop(187);
}
#content_0_TextOutput58 {
	@include elemLeft(54);
}
#content_0_TextOutput58 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput58 {
		z-index: 6;
}
#content_0_TextOutput59 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput59 {
	@include elemTop(220);
}
#content_0_TextOutput59 {
	@include elemLeft(54);
}
#content_0_TextOutput59 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput59 {
		z-index: 7;
}
#content_0_TextOutput60 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput60 {
	@include elemTop(249);
}
#content_0_TextOutput60 {
	@include elemLeft(54);
}
#content_0_TextOutput60 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput60 {
		z-index: 8;
}
#content_0_TextOutput61 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput61 {
	@include elemTop(280);
}
#content_0_TextOutput61 {
	@include elemLeft(54);
}
#content_0_TextOutput61 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput61 {
		z-index: 9;
}
#content_0_TextOutput62 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput62 {
	@include elemTop(308);
}
#content_0_TextOutput62 {
	@include elemLeft(54);
}
#content_0_TextOutput62 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput62 {
		z-index: 10;
}
#content_0_TextOutput63 {
	@include elemAutoHeight(30);
}
#content_0_TextOutput63 {
	@include elemTop(337);
}
#content_0_TextOutput63 {
	@include elemLeft(54);
}
#content_0_TextOutput63 {
	@include elemAutoWidth(229);
}
#content_0_TextOutput63 {
		z-index: 11;
}
#content_0_Ellipse24 {
	@include elemTop(11);
}
#content_0_Ellipse24 {
	@include elemLeft(28);
}
#content_0_Ellipse24 {
	@include elemWidth(20);
}
#content_0_Ellipse24 {
	@include elemHeight(20);
}
#content_0_Ellipse24 {
		z-index: 12;
}
#content_0_Ellipse24 {
		border-width: 10px;
}
#content_0_Ellipse25 {
	@include elemTop(41);
}
#content_0_Ellipse25 {
	@include elemLeft(28);
}
#content_0_Ellipse25 {
	@include elemWidth(20);
}
#content_0_Ellipse25 {
	@include elemHeight(20);
}
#content_0_Ellipse25 {
		z-index: 13;
}
#content_0_Ellipse25 {
		border-width: 10px;
}
#content_0_Ellipse26 {
	@include elemTop(71);
}
#content_0_Ellipse26 {
	@include elemLeft(28);
}
#content_0_Ellipse26 {
	@include elemWidth(20);
}
#content_0_Ellipse26 {
	@include elemHeight(20);
}
#content_0_Ellipse26 {
		z-index: 14;
}
#content_0_Ellipse26 {
		border-width: 10px;
}
#content_0_Ellipse27 {
	@include elemTop(103);
}
#content_0_Ellipse27 {
	@include elemLeft(28);
}
#content_0_Ellipse27 {
	@include elemWidth(20);
}
#content_0_Ellipse27 {
	@include elemHeight(20);
}
#content_0_Ellipse27 {
		z-index: 15;
}
#content_0_Ellipse27 {
		border-width: 10px;
}
#content_0_Ellipse28 {
	@include elemTop(133);
}
#content_0_Ellipse28 {
	@include elemLeft(28);
}
#content_0_Ellipse28 {
	@include elemWidth(20);
}
#content_0_Ellipse28 {
	@include elemHeight(20);
}
#content_0_Ellipse28 {
		z-index: 16;
}
#content_0_Ellipse28 {
		border-width: 10px;
}
#content_0_Ellipse29 {
	@include elemTop(163);
}
#content_0_Ellipse29 {
	@include elemLeft(28);
}
#content_0_Ellipse29 {
	@include elemWidth(20);
}
#content_0_Ellipse29 {
	@include elemHeight(20);
}
#content_0_Ellipse29 {
		z-index: 17;
}
#content_0_Ellipse29 {
		border-width: 10px;
}
#content_0_Ellipse30 {
	@include elemTop(194);
}
#content_0_Ellipse30 {
	@include elemLeft(28);
}
#content_0_Ellipse30 {
	@include elemWidth(20);
}
#content_0_Ellipse30 {
	@include elemHeight(20);
}
#content_0_Ellipse30 {
		z-index: 18;
}
#content_0_Ellipse30 {
		border-width: 10px;
}
#content_0_Ellipse31 {
	@include elemTop(226);
}
#content_0_Ellipse31 {
	@include elemLeft(28);
}
#content_0_Ellipse31 {
	@include elemWidth(20);
}
#content_0_Ellipse31 {
	@include elemHeight(20);
}
#content_0_Ellipse31 {
		z-index: 19;
}
#content_0_Ellipse31 {
		border-width: 10px;
}
#content_0_Ellipse32 {
	@include elemTop(254);
}
#content_0_Ellipse32 {
	@include elemLeft(28);
}
#content_0_Ellipse32 {
	@include elemWidth(20);
}
#content_0_Ellipse32 {
	@include elemHeight(20);
}
#content_0_Ellipse32 {
		z-index: 20;
}
#content_0_Ellipse32 {
		border-width: 10px;
}
#content_0_Ellipse33 {
	@include elemTop(285);
}
#content_0_Ellipse33 {
	@include elemLeft(28);
}
#content_0_Ellipse33 {
	@include elemWidth(20);
}
#content_0_Ellipse33 {
	@include elemHeight(20);
}
#content_0_Ellipse33 {
		z-index: 21;
}
#content_0_Ellipse33 {
		border-width: 10px;
}
#content_0_Ellipse34 {
	@include elemTop(312);
}
#content_0_Ellipse34 {
	@include elemLeft(28);
}
#content_0_Ellipse34 {
	@include elemWidth(20);
}
#content_0_Ellipse34 {
	@include elemHeight(20);
}
#content_0_Ellipse34 {
		z-index: 22;
}
#content_0_Ellipse34 {
		border-width: 10px;
}
#content_0_Ellipse35 {
	@include elemTop(339);
}
#content_0_Ellipse35 {
	@include elemLeft(28);
}
#content_0_Ellipse35 {
	@include elemWidth(20);
}
#content_0_Ellipse35 {
	@include elemHeight(20);
}
#content_0_Ellipse35 {
		z-index: 23;
}
#content_0_Ellipse35 {
		border-width: 10px;
}
