#content_0_TabControl1 {
  top: 10px;
  position: absolute;
}

#content_0_TabControl1 {
  left: 13px;
  position: absolute;
}

#content_0_TabControl1 {
  width: 617px;
}

#content_0_TabControl1 {
  height: 461px;
}

#content_0_TabControl1 {
  z-index: 0;
}

#content_0_TabItem1_breaseTabItemTab.tabItem {
  width: 100px;
}

#content_0_TabItem1_breaseTabItemTab.tabItem {
  height: 30px;
}

#content_0_TabItem1 {
  z-index: 0;
}

#content_0_TabItem1_breaseTabItemTab.tabItem {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

#content_0_GroupBox1 {
  top: 186px;
  position: absolute;
}

#content_0_GroupBox1 {
  left: 7px;
  position: absolute;
}

#content_0_GroupBox1 {
  width: 294px;
}

#content_0_GroupBox1 {
  height: 235px;
}

#content_0_GroupBox1 {
  z-index: 0;
}

#content_0_GroupBox1 > .header span {
  font-size: 18px;
}

#content_0_GroupBox1 > .header {
  height: 38px;
}

#content_0_TextOutput4 {
  height: 30px;
}

#content_0_TextOutput4 {
  top: 33px;
  position: absolute;
}

#content_0_TextOutput4 {
  left: 72px;
  position: absolute;
}

#content_0_TextOutput4 {
  width: 197px;
}

#content_0_TextOutput4 {
  z-index: 0;
}

#content_0_TextOutput10 {
  height: 30px;
}

#content_0_TextOutput10 {
  top: 86px;
  position: absolute;
}

#content_0_TextOutput10 {
  left: 72px;
  position: absolute;
}

#content_0_TextOutput10 {
  width: 188px;
}

#content_0_TextOutput10 {
  z-index: 1;
}

#content_0_TextOutput11 {
  width: 100px;
}

#content_0_TextOutput11 {
  height: 30px;
}

#content_0_TextOutput11 {
  top: 133px;
  position: absolute;
}

#content_0_TextOutput11 {
  left: 72px;
  position: absolute;
}

#content_0_TextOutput11 {
  z-index: 2;
}

#content_0_Ellipse5 {
  top: 40px;
  position: absolute;
}

#content_0_Ellipse5 {
  left: 43px;
  position: absolute;
}

#content_0_Ellipse5 {
  width: 20px;
}

#content_0_Ellipse5 {
  height: 20px;
}

#content_0_Ellipse5 {
  z-index: 3;
}

#content_0_Ellipse5 {
  border-width: 10px;
}

#content_0_Ellipse6 {
  top: 92px;
  position: absolute;
}

#content_0_Ellipse6 {
  left: 43px;
  position: absolute;
}

#content_0_Ellipse6 {
  width: 20px;
}

#content_0_Ellipse6 {
  height: 20px;
}

#content_0_Ellipse6 {
  z-index: 4;
}

#content_0_Ellipse6 {
  border-width: 10px;
}

#content_0_Ellipse7 {
  top: 139px;
  position: absolute;
}

#content_0_Ellipse7 {
  left: 42px;
  position: absolute;
}

#content_0_Ellipse7 {
  width: 20px;
}

#content_0_Ellipse7 {
  height: 20px;
}

#content_0_Ellipse7 {
  z-index: 5;
}

#content_0_Ellipse7 {
  border-width: 10px;
}

#content_0_GroupBox2 {
  top: 184px;
  position: absolute;
}

#content_0_GroupBox2 {
  left: 316px;
  position: absolute;
}

#content_0_GroupBox2 {
  width: 294px;
}

#content_0_GroupBox2 {
  height: 237px;
}

#content_0_GroupBox2 {
  z-index: 1;
}

#content_0_GroupBox2 > .header span {
  font-size: 18px;
}

#content_0_GroupBox2 > .header {
  height: 38px;
}

#content_0_TextOutput12 {
  height: 30px;
}

#content_0_TextOutput12 {
  top: 35px;
  position: absolute;
}

#content_0_TextOutput12 {
  left: 63px;
  position: absolute;
}

#content_0_TextOutput12 {
  width: 183px;
}

#content_0_TextOutput12 {
  z-index: 0;
}

#content_0_TextOutput13 {
  height: 30px;
}

#content_0_TextOutput13 {
  top: 88px;
  position: absolute;
}

#content_0_TextOutput13 {
  left: 63px;
  position: absolute;
}

#content_0_TextOutput13 {
  width: 170px;
}

#content_0_TextOutput13 {
  z-index: 1;
}

#content_0_TextOutput14 {
  width: 100px;
}

#content_0_TextOutput14 {
  height: 30px;
}

#content_0_TextOutput14 {
  top: 138px;
  position: absolute;
}

#content_0_TextOutput14 {
  left: 63px;
  position: absolute;
}

#content_0_TextOutput14 {
  z-index: 2;
}

#content_0_Ellipse8 {
  top: 43px;
  position: absolute;
}

#content_0_Ellipse8 {
  left: 38px;
  position: absolute;
}

#content_0_Ellipse8 {
  width: 20px;
}

#content_0_Ellipse8 {
  height: 20px;
}

#content_0_Ellipse8 {
  z-index: 3;
}

#content_0_Ellipse8 {
  border-width: 10px;
}

#content_0_Ellipse9 {
  top: 93px;
  position: absolute;
}

#content_0_Ellipse9 {
  left: 38px;
  position: absolute;
}

#content_0_Ellipse9 {
  width: 20px;
}

#content_0_Ellipse9 {
  height: 20px;
}

#content_0_Ellipse9 {
  z-index: 4;
}

#content_0_Ellipse9 {
  border-width: 10px;
}

#content_0_Ellipse10 {
  top: 140px;
  position: absolute;
}

#content_0_Ellipse10 {
  left: 38px;
  position: absolute;
}

#content_0_Ellipse10 {
  width: 20px;
}

#content_0_Ellipse10 {
  height: 20px;
}

#content_0_Ellipse10 {
  z-index: 5;
}

#content_0_Ellipse10 {
  border-width: 10px;
}

#content_0_GroupBox3 {
  top: 18px;
  position: absolute;
}

#content_0_GroupBox3 {
  left: 7px;
  position: absolute;
}

#content_0_GroupBox3 {
  width: 294px;
}

#content_0_GroupBox3 {
  height: 159px;
}

#content_0_GroupBox3 {
  z-index: 2;
}

#content_0_GroupBox3 > .header span {
  font-size: 16px;
}

#content_0_GroupBox3 > .header {
  height: 36px;
}

#content_0_ToggleButton1 {
  width: 100px;
}

#content_0_ToggleButton1 {
  top: 20px;
  position: absolute;
}

#content_0_ToggleButton1 {
  left: 51px;
  position: absolute;
}

#content_0_ToggleButton1 {
  height: 40px;
}

#content_0_ToggleButton1 {
  z-index: 0;
}

#content_0_ToggleButton1 span {
  font-weight: bold;
}

#content_0_ToggleButton3 {
  width: 100px;
}

#content_0_ToggleButton3 {
  top: 69px;
  position: absolute;
}

#content_0_ToggleButton3 {
  left: 98px;
  position: absolute;
}

#content_0_ToggleButton3 {
  height: 40px;
}

#content_0_ToggleButton3 {
  z-index: 1;
}

#content_0_ToggleButton3 span {
  font-weight: bold;
}

#content_0_ToggleButton2 {
  width: 100px;
}

#content_0_ToggleButton2 {
  top: 19px;
  position: absolute;
}

#content_0_ToggleButton2 {
  left: 158px;
  position: absolute;
}

#content_0_ToggleButton2 {
  height: 40px;
}

#content_0_ToggleButton2 {
  z-index: 2;
}

#content_0_ToggleButton2 span {
  font-weight: bold;
}

#content_0_GroupBox4 {
  top: 17px;
  position: absolute;
}

#content_0_GroupBox4 {
  left: 316px;
  position: absolute;
}

#content_0_GroupBox4 {
  width: 294px;
}

#content_0_GroupBox4 {
  height: 161px;
}

#content_0_GroupBox4 {
  z-index: 3;
}

#content_0_GroupBox4 > .header span {
  font-size: 16px;
}

#content_0_GroupBox4 > .header {
  height: 36px;
}

#content_0_Ellipse1 {
  top: 26px;
  position: absolute;
}

#content_0_Ellipse1 {
  left: 98px;
  position: absolute;
}

#content_0_Ellipse1 {
  width: 20px;
}

#content_0_Ellipse1 {
  height: 20px;
}

#content_0_Ellipse1 {
  z-index: 0;
}

#content_0_Ellipse1 {
  border-width: 10px;
}

#content_0_Ellipse1 {
  background-color: rgba(255, 255, 255, 0);
}

#content_0_Ellipse2 {
  top: 51px;
  position: absolute;
}

#content_0_Ellipse2 {
  left: 98px;
  position: absolute;
}

#content_0_Ellipse2 {
  width: 20px;
}

#content_0_Ellipse2 {
  height: 20px;
}

#content_0_Ellipse2 {
  z-index: 1;
}

#content_0_Ellipse2 {
  border-width: 10px;
}

#content_0_Ellipse3 {
  top: 78px;
  position: absolute;
}

#content_0_Ellipse3 {
  left: 98px;
  position: absolute;
}

#content_0_Ellipse3 {
  width: 20px;
}

#content_0_Ellipse3 {
  height: 20px;
}

#content_0_Ellipse3 {
  z-index: 2;
}

#content_0_Ellipse3 {
  border-width: 10px;
}

#content_0_Ellipse4 {
  top: 102px;
  position: absolute;
}

#content_0_Ellipse4 {
  left: 98px;
  position: absolute;
}

#content_0_Ellipse4 {
  width: 20px;
}

#content_0_Ellipse4 {
  height: 20px;
}

#content_0_Ellipse4 {
  z-index: 3;
}

#content_0_Ellipse4 {
  border-width: 10px;
}

#content_0_TextOutput2 {
  width: 100px;
}

#content_0_TextOutput2 {
  height: 30px;
}

#content_0_TextOutput2 {
  top: 20px;
  position: absolute;
}

#content_0_TextOutput2 {
  left: 172px;
  position: absolute;
}

#content_0_TextOutput2 {
  z-index: 4;
}

#content_0_TextOutput2 {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#content_0_TextOutput2 {
  font-size: 60px;
}

#content_0_TextOutput2 {
  font-weight: bold;
}

#content_0_TextOutput3 {
  width: 100px;
}

#content_0_TextOutput3 {
  height: 30px;
}

#content_0_TextOutput3 {
  top: 20px;
  position: absolute;
}

#content_0_TextOutput3 {
  left: 171px;
  position: absolute;
}

#content_0_TextOutput3 {
  z-index: 5;
}

#content_0_TextOutput3 {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#content_0_TextOutput3 {
  font-size: 60px;
}

#content_0_TextOutput3 {
  font-weight: bold;
}

#content_0_TextOutput5 {
  height: 30px;
}

#content_0_TextOutput5 {
  top: 0px;
  position: absolute;
}

#content_0_TextOutput5 {
  left: 84px;
  position: absolute;
}

#content_0_TextOutput5 {
  width: 47px;
}

#content_0_TextOutput5 {
  z-index: 6;
}

#content_0_TextOutput5 {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#content_0_TextOutput5 {
  font-weight: bold;
}

#content_0_TextOutput6 {
  top: 0px;
  position: absolute;
}

#content_0_TextOutput6 {
  left: 184px;
  position: absolute;
}

#content_0_TextOutput6 {
  width: 67px;
}

#content_0_TextOutput6 {
  height: 20px;
}

#content_0_TextOutput6 {
  z-index: 7;
}

#content_0_TextOutput6 {
  font-weight: bold;
}

#content_0_TextOutput1 {
  top: 26px;
  position: absolute;
}

#content_0_TextOutput1 {
  left: 16px;
  position: absolute;
}

#content_0_TextOutput1 {
  width: 76px;
}

#content_0_TextOutput1 {
  height: 15px;
}

#content_0_TextOutput1 {
  z-index: 8;
}

#content_0_TextOutput1 {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#content_0_TextOutput7 {
  top: 51px;
  position: absolute;
}

#content_0_TextOutput7 {
  left: 14px;
  position: absolute;
}

#content_0_TextOutput7 {
  width: 78px;
}

#content_0_TextOutput7 {
  height: 15px;
}

#content_0_TextOutput7 {
  z-index: 9;
}

#content_0_TextOutput7 {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#content_0_TextOutput8 {
  top: 78px;
  position: absolute;
}

#content_0_TextOutput8 {
  left: 14px;
  position: absolute;
}

#content_0_TextOutput8 {
  width: 78px;
}

#content_0_TextOutput8 {
  height: 17px;
}

#content_0_TextOutput8 {
  z-index: 10;
}

#content_0_TextOutput8 {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#content_0_TextOutput9 {
  top: 101px;
  position: absolute;
}

#content_0_TextOutput9 {
  left: 22px;
  position: absolute;
}

#content_0_TextOutput9 {
  width: 70px;
}

#content_0_TextOutput9 {
  height: 20px;
}

#content_0_TextOutput9 {
  z-index: 11;
}

#content_0_TextOutput9 {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#content_0_TextOutput15 {
  width: 100px;
}

#content_0_TextOutput15 {
  height: 30px;
}

#content_0_TextOutput15 {
  top: 51px;
  position: absolute;
}

#content_0_TextOutput15 {
  left: 180px;
  position: absolute;
}

#content_0_TextOutput15 {
  z-index: 12;
}

#content_0_TextOutput15 {
  font-weight: bold;
}

#content_0_Ellipse11 {
  top: 87px;
  position: absolute;
}

#content_0_Ellipse11 {
  left: 203px;
  position: absolute;
}

#content_0_Ellipse11 {
  width: 20px;
}

#content_0_Ellipse11 {
  height: 20px;
}

#content_0_Ellipse11 {
  z-index: 13;
}

#content_0_Ellipse11 {
  border-width: 10px;
}

#content_0_TabItem2_breaseTabItemTab.tabItem {
  width: 100px;
}

#content_0_TabItem2_breaseTabItemTab.tabItem {
  height: 30px;
}

#content_0_TabItem2 {
  z-index: 1;
}

#content_0_TabItem2_breaseTabItemTab.tabItem {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

#content_0_GroupBox5 {
  top: 25px;
  position: absolute;
}

#content_0_GroupBox5 {
  left: 5px;
  position: absolute;
}

#content_0_GroupBox5 {
  width: 303px;
}

#content_0_GroupBox5 {
  height: 399px;
}

#content_0_GroupBox5 {
  z-index: 0;
}

#content_0_TextOutput16 {
  height: 30px;
}

#content_0_TextOutput16 {
  top: 4px;
  position: absolute;
}

#content_0_TextOutput16 {
  left: 48px;
  position: absolute;
}

#content_0_TextOutput16 {
  width: 229px;
}

#content_0_TextOutput16 {
  z-index: 0;
}

#content_0_TextOutput17 {
  height: 30px;
}

#content_0_TextOutput17 {
  top: 33px;
  position: absolute;
}

#content_0_TextOutput17 {
  left: 48px;
  position: absolute;
}

#content_0_TextOutput17 {
  width: 229px;
}

#content_0_TextOutput17 {
  z-index: 1;
}

#content_0_TextOutput18 {
  height: 30px;
}

#content_0_TextOutput18 {
  top: 63px;
  position: absolute;
}

#content_0_TextOutput18 {
  left: 48px;
  position: absolute;
}

#content_0_TextOutput18 {
  width: 229px;
}

#content_0_TextOutput18 {
  z-index: 2;
}

#content_0_TextOutput19 {
  height: 30px;
}

#content_0_TextOutput19 {
  top: 92px;
  position: absolute;
}

#content_0_TextOutput19 {
  left: 48px;
  position: absolute;
}

#content_0_TextOutput19 {
  width: 229px;
}

#content_0_TextOutput19 {
  z-index: 3;
}

#content_0_TextOutput20 {
  height: 30px;
}

#content_0_TextOutput20 {
  top: 121px;
  position: absolute;
}

#content_0_TextOutput20 {
  left: 48px;
  position: absolute;
}

#content_0_TextOutput20 {
  width: 229px;
}

#content_0_TextOutput20 {
  z-index: 4;
}

#content_0_TextOutput21 {
  height: 30px;
}

#content_0_TextOutput21 {
  top: 149px;
  position: absolute;
}

#content_0_TextOutput21 {
  left: 48px;
  position: absolute;
}

#content_0_TextOutput21 {
  width: 229px;
}

#content_0_TextOutput21 {
  z-index: 5;
}

#content_0_TextOutput22 {
  height: 30px;
}

#content_0_TextOutput22 {
  top: 179px;
  position: absolute;
}

#content_0_TextOutput22 {
  left: 48px;
  position: absolute;
}

#content_0_TextOutput22 {
  width: 229px;
}

#content_0_TextOutput22 {
  z-index: 6;
}

#content_0_TextOutput23 {
  height: 30px;
}

#content_0_TextOutput23 {
  top: 205px;
  position: absolute;
}

#content_0_TextOutput23 {
  left: 48px;
  position: absolute;
}

#content_0_TextOutput23 {
  width: 229px;
}

#content_0_TextOutput23 {
  z-index: 7;
}

#content_0_TextOutput24 {
  height: 30px;
}

#content_0_TextOutput24 {
  top: 232px;
  position: absolute;
}

#content_0_TextOutput24 {
  left: 48px;
  position: absolute;
}

#content_0_TextOutput24 {
  width: 229px;
}

#content_0_TextOutput24 {
  z-index: 8;
}

#content_0_TextOutput25 {
  height: 30px;
}

#content_0_TextOutput25 {
  top: 261px;
  position: absolute;
}

#content_0_TextOutput25 {
  left: 48px;
  position: absolute;
}

#content_0_TextOutput25 {
  width: 229px;
}

#content_0_TextOutput25 {
  z-index: 9;
}

#content_0_TextOutput26 {
  height: 30px;
}

#content_0_TextOutput26 {
  top: 291px;
  position: absolute;
}

#content_0_TextOutput26 {
  left: 48px;
  position: absolute;
}

#content_0_TextOutput26 {
  width: 229px;
}

#content_0_TextOutput26 {
  z-index: 10;
}

#content_0_TextOutput27 {
  height: 30px;
}

#content_0_TextOutput27 {
  top: 322px;
  position: absolute;
}

#content_0_TextOutput27 {
  left: 48px;
  position: absolute;
}

#content_0_TextOutput27 {
  width: 229px;
}

#content_0_TextOutput27 {
  z-index: 11;
}

#content_0_Ellipse36 {
  top: 7px;
  position: absolute;
}

#content_0_Ellipse36 {
  left: 19px;
  position: absolute;
}

#content_0_Ellipse36 {
  width: 20px;
}

#content_0_Ellipse36 {
  height: 20px;
}

#content_0_Ellipse36 {
  z-index: 12;
}

#content_0_Ellipse36 {
  border-width: 10px;
}

#content_0_Ellipse37 {
  top: 37px;
  position: absolute;
}

#content_0_Ellipse37 {
  left: 19px;
  position: absolute;
}

#content_0_Ellipse37 {
  width: 20px;
}

#content_0_Ellipse37 {
  height: 20px;
}

#content_0_Ellipse37 {
  z-index: 13;
}

#content_0_Ellipse37 {
  border-width: 10px;
}

#content_0_Ellipse38 {
  top: 69px;
  position: absolute;
}

#content_0_Ellipse38 {
  left: 19px;
  position: absolute;
}

#content_0_Ellipse38 {
  width: 20px;
}

#content_0_Ellipse38 {
  height: 20px;
}

#content_0_Ellipse38 {
  z-index: 14;
}

#content_0_Ellipse38 {
  border-width: 10px;
}

#content_0_Ellipse39 {
  top: 97px;
  position: absolute;
}

#content_0_Ellipse39 {
  left: 19px;
  position: absolute;
}

#content_0_Ellipse39 {
  width: 20px;
}

#content_0_Ellipse39 {
  height: 20px;
}

#content_0_Ellipse39 {
  z-index: 15;
}

#content_0_Ellipse39 {
  border-width: 10px;
}

#content_0_Ellipse40 {
  top: 126px;
  position: absolute;
}

#content_0_Ellipse40 {
  left: 19px;
  position: absolute;
}

#content_0_Ellipse40 {
  width: 20px;
}

#content_0_Ellipse40 {
  height: 20px;
}

#content_0_Ellipse40 {
  z-index: 16;
}

#content_0_Ellipse40 {
  border-width: 10px;
}

#content_0_Ellipse41 {
  top: 151px;
  position: absolute;
}

#content_0_Ellipse41 {
  left: 19px;
  position: absolute;
}

#content_0_Ellipse41 {
  width: 20px;
}

#content_0_Ellipse41 {
  height: 20px;
}

#content_0_Ellipse41 {
  z-index: 17;
}

#content_0_Ellipse41 {
  border-width: 10px;
}

#content_0_Ellipse42 {
  top: 178px;
  position: absolute;
}

#content_0_Ellipse42 {
  left: 19px;
  position: absolute;
}

#content_0_Ellipse42 {
  width: 20px;
}

#content_0_Ellipse42 {
  height: 20px;
}

#content_0_Ellipse42 {
  z-index: 18;
}

#content_0_Ellipse42 {
  border-width: 10px;
}

#content_0_Ellipse43 {
  top: 206px;
  position: absolute;
}

#content_0_Ellipse43 {
  left: 19px;
  position: absolute;
}

#content_0_Ellipse43 {
  width: 20px;
}

#content_0_Ellipse43 {
  height: 20px;
}

#content_0_Ellipse43 {
  z-index: 19;
}

#content_0_Ellipse43 {
  border-width: 10px;
}

#content_0_Ellipse44 {
  top: 236px;
  position: absolute;
}

#content_0_Ellipse44 {
  left: 19px;
  position: absolute;
}

#content_0_Ellipse44 {
  width: 20px;
}

#content_0_Ellipse44 {
  height: 20px;
}

#content_0_Ellipse44 {
  z-index: 20;
}

#content_0_Ellipse44 {
  border-width: 10px;
}

#content_0_Ellipse45 {
  top: 265px;
  position: absolute;
}

#content_0_Ellipse45 {
  left: 19px;
  position: absolute;
}

#content_0_Ellipse45 {
  width: 20px;
}

#content_0_Ellipse45 {
  height: 20px;
}

#content_0_Ellipse45 {
  z-index: 21;
}

#content_0_Ellipse45 {
  border-width: 10px;
}

#content_0_Ellipse46 {
  top: 295px;
  position: absolute;
}

#content_0_Ellipse46 {
  left: 19px;
  position: absolute;
}

#content_0_Ellipse46 {
  width: 20px;
}

#content_0_Ellipse46 {
  height: 20px;
}

#content_0_Ellipse46 {
  z-index: 22;
}

#content_0_Ellipse46 {
  border-width: 10px;
}

#content_0_Ellipse47 {
  top: 329px;
  position: absolute;
}

#content_0_Ellipse47 {
  left: 19px;
  position: absolute;
}

#content_0_Ellipse47 {
  width: 20px;
}

#content_0_Ellipse47 {
  height: 20px;
}

#content_0_Ellipse47 {
  z-index: 23;
}

#content_0_Ellipse47 {
  border-width: 10px;
}

#content_0_GroupBox6 {
  top: 25px;
  position: absolute;
}

#content_0_GroupBox6 {
  left: 313px;
  position: absolute;
}

#content_0_GroupBox6 {
  width: 297px;
}

#content_0_GroupBox6 {
  height: 399px;
}

#content_0_GroupBox6 {
  z-index: 1;
}

#content_0_TextOutput28 {
  height: 30px;
}

#content_0_TextOutput28 {
  top: 3px;
  position: absolute;
}

#content_0_TextOutput28 {
  left: 45px;
  position: absolute;
}

#content_0_TextOutput28 {
  width: 229px;
}

#content_0_TextOutput28 {
  z-index: 0;
}

#content_0_TextOutput29 {
  height: 30px;
}

#content_0_TextOutput29 {
  top: 32px;
  position: absolute;
}

#content_0_TextOutput29 {
  left: 45px;
  position: absolute;
}

#content_0_TextOutput29 {
  width: 229px;
}

#content_0_TextOutput29 {
  z-index: 1;
}

#content_0_TextOutput30 {
  height: 30px;
}

#content_0_TextOutput30 {
  top: 62px;
  position: absolute;
}

#content_0_TextOutput30 {
  left: 45px;
  position: absolute;
}

#content_0_TextOutput30 {
  width: 229px;
}

#content_0_TextOutput30 {
  z-index: 2;
}

#content_0_TextOutput31 {
  height: 30px;
}

#content_0_TextOutput31 {
  top: 91px;
  position: absolute;
}

#content_0_TextOutput31 {
  left: 45px;
  position: absolute;
}

#content_0_TextOutput31 {
  width: 229px;
}

#content_0_TextOutput31 {
  z-index: 3;
}

#content_0_TextOutput32 {
  height: 30px;
}

#content_0_TextOutput32 {
  top: 120px;
  position: absolute;
}

#content_0_TextOutput32 {
  left: 45px;
  position: absolute;
}

#content_0_TextOutput32 {
  width: 229px;
}

#content_0_TextOutput32 {
  z-index: 4;
}

#content_0_TextOutput33 {
  height: 30px;
}

#content_0_TextOutput33 {
  top: 148px;
  position: absolute;
}

#content_0_TextOutput33 {
  left: 45px;
  position: absolute;
}

#content_0_TextOutput33 {
  width: 229px;
}

#content_0_TextOutput33 {
  z-index: 5;
}

#content_0_TextOutput34 {
  height: 30px;
}

#content_0_TextOutput34 {
  top: 178px;
  position: absolute;
}

#content_0_TextOutput34 {
  left: 45px;
  position: absolute;
}

#content_0_TextOutput34 {
  width: 229px;
}

#content_0_TextOutput34 {
  z-index: 6;
}

#content_0_TextOutput35 {
  height: 30px;
}

#content_0_TextOutput35 {
  top: 204px;
  position: absolute;
}

#content_0_TextOutput35 {
  left: 45px;
  position: absolute;
}

#content_0_TextOutput35 {
  width: 229px;
}

#content_0_TextOutput35 {
  z-index: 7;
}

#content_0_TextOutput36 {
  height: 30px;
}

#content_0_TextOutput36 {
  top: 231px;
  position: absolute;
}

#content_0_TextOutput36 {
  left: 45px;
  position: absolute;
}

#content_0_TextOutput36 {
  width: 229px;
}

#content_0_TextOutput36 {
  z-index: 8;
}

#content_0_TextOutput37 {
  height: 30px;
}

#content_0_TextOutput37 {
  top: 260px;
  position: absolute;
}

#content_0_TextOutput37 {
  left: 45px;
  position: absolute;
}

#content_0_TextOutput37 {
  width: 229px;
}

#content_0_TextOutput37 {
  z-index: 9;
}

#content_0_TextOutput38 {
  height: 30px;
}

#content_0_TextOutput38 {
  top: 290px;
  position: absolute;
}

#content_0_TextOutput38 {
  left: 45px;
  position: absolute;
}

#content_0_TextOutput38 {
  width: 229px;
}

#content_0_TextOutput38 {
  z-index: 10;
}

#content_0_TextOutput39 {
  height: 30px;
}

#content_0_TextOutput39 {
  top: 321px;
  position: absolute;
}

#content_0_TextOutput39 {
  left: 45px;
  position: absolute;
}

#content_0_TextOutput39 {
  width: 229px;
}

#content_0_TextOutput39 {
  z-index: 11;
}

#content_0_Ellipse48 {
  top: 8px;
  position: absolute;
}

#content_0_Ellipse48 {
  left: 17px;
  position: absolute;
}

#content_0_Ellipse48 {
  width: 20px;
}

#content_0_Ellipse48 {
  height: 20px;
}

#content_0_Ellipse48 {
  z-index: 12;
}

#content_0_Ellipse48 {
  border-width: 10px;
}

#content_0_Ellipse49 {
  top: 39px;
  position: absolute;
}

#content_0_Ellipse49 {
  left: 17px;
  position: absolute;
}

#content_0_Ellipse49 {
  width: 20px;
}

#content_0_Ellipse49 {
  height: 20px;
}

#content_0_Ellipse49 {
  z-index: 13;
}

#content_0_Ellipse49 {
  border-width: 10px;
}

#content_0_Ellipse50 {
  top: 70px;
  position: absolute;
}

#content_0_Ellipse50 {
  left: 17px;
  position: absolute;
}

#content_0_Ellipse50 {
  width: 20px;
}

#content_0_Ellipse50 {
  height: 20px;
}

#content_0_Ellipse50 {
  z-index: 14;
}

#content_0_Ellipse50 {
  border-width: 10px;
}

#content_0_Ellipse51 {
  top: 98px;
  position: absolute;
}

#content_0_Ellipse51 {
  left: 17px;
  position: absolute;
}

#content_0_Ellipse51 {
  width: 20px;
}

#content_0_Ellipse51 {
  height: 20px;
}

#content_0_Ellipse51 {
  z-index: 15;
}

#content_0_Ellipse51 {
  border-width: 10px;
}

#content_0_Ellipse52 {
  top: 128px;
  position: absolute;
}

#content_0_Ellipse52 {
  left: 17px;
  position: absolute;
}

#content_0_Ellipse52 {
  width: 20px;
}

#content_0_Ellipse52 {
  height: 20px;
}

#content_0_Ellipse52 {
  z-index: 16;
}

#content_0_Ellipse52 {
  border-width: 10px;
}

#content_0_Ellipse53 {
  top: 155px;
  position: absolute;
}

#content_0_Ellipse53 {
  left: 17px;
  position: absolute;
}

#content_0_Ellipse53 {
  width: 20px;
}

#content_0_Ellipse53 {
  height: 20px;
}

#content_0_Ellipse53 {
  z-index: 17;
}

#content_0_Ellipse53 {
  border-width: 10px;
}

#content_0_Ellipse54 {
  top: 185px;
  position: absolute;
}

#content_0_Ellipse54 {
  left: 17px;
  position: absolute;
}

#content_0_Ellipse54 {
  width: 20px;
}

#content_0_Ellipse54 {
  height: 20px;
}

#content_0_Ellipse54 {
  z-index: 18;
}

#content_0_Ellipse54 {
  border-width: 10px;
}

#content_0_Ellipse55 {
  top: 212px;
  position: absolute;
}

#content_0_Ellipse55 {
  left: 17px;
  position: absolute;
}

#content_0_Ellipse55 {
  width: 20px;
}

#content_0_Ellipse55 {
  height: 20px;
}

#content_0_Ellipse55 {
  z-index: 19;
}

#content_0_Ellipse55 {
  border-width: 10px;
}

#content_0_Ellipse56 {
  top: 237px;
  position: absolute;
}

#content_0_Ellipse56 {
  left: 17px;
  position: absolute;
}

#content_0_Ellipse56 {
  width: 20px;
}

#content_0_Ellipse56 {
  height: 20px;
}

#content_0_Ellipse56 {
  z-index: 20;
}

#content_0_Ellipse56 {
  border-width: 10px;
}

#content_0_Ellipse57 {
  top: 264px;
  position: absolute;
}

#content_0_Ellipse57 {
  left: 17px;
  position: absolute;
}

#content_0_Ellipse57 {
  width: 20px;
}

#content_0_Ellipse57 {
  height: 20px;
}

#content_0_Ellipse57 {
  z-index: 21;
}

#content_0_Ellipse57 {
  border-width: 10px;
}

#content_0_Ellipse58 {
  top: 294px;
  position: absolute;
}

#content_0_Ellipse58 {
  left: 17px;
  position: absolute;
}

#content_0_Ellipse58 {
  width: 20px;
}

#content_0_Ellipse58 {
  height: 20px;
}

#content_0_Ellipse58 {
  z-index: 22;
}

#content_0_Ellipse58 {
  border-width: 10px;
}

#content_0_Ellipse59 {
  top: 324px;
  position: absolute;
}

#content_0_Ellipse59 {
  left: 17px;
  position: absolute;
}

#content_0_Ellipse59 {
  width: 20px;
}

#content_0_Ellipse59 {
  height: 20px;
}

#content_0_Ellipse59 {
  z-index: 23;
}

#content_0_Ellipse59 {
  border-width: 10px;
}

#content_0_TabItem3_breaseTabItemTab.tabItem {
  width: 100px;
}

#content_0_TabItem3_breaseTabItemTab.tabItem {
  height: 30px;
}

#content_0_TabItem3 {
  z-index: 2;
}

#content_0_GroupBox7 {
  top: 25px;
  position: absolute;
}

#content_0_GroupBox7 {
  left: 7px;
  position: absolute;
}

#content_0_GroupBox7 {
  width: 299px;
}

#content_0_GroupBox7 {
  height: 399px;
}

#content_0_GroupBox7 {
  z-index: 0;
}

#content_0_TextOutput40 {
  height: 30px;
}

#content_0_TextOutput40 {
  top: 6px;
  position: absolute;
}

#content_0_TextOutput40 {
  left: 25px;
  position: absolute;
}

#content_0_TextOutput40 {
  width: 229px;
}

#content_0_TextOutput40 {
  z-index: 0;
}

#content_0_TextOutput41 {
  height: 30px;
}

#content_0_TextOutput41 {
  top: 34px;
  position: absolute;
}

#content_0_TextOutput41 {
  left: 25px;
  position: absolute;
}

#content_0_TextOutput41 {
  width: 229px;
}

#content_0_TextOutput41 {
  z-index: 1;
}

#content_0_TextOutput42 {
  height: 30px;
}

#content_0_TextOutput42 {
  top: 64px;
  position: absolute;
}

#content_0_TextOutput42 {
  left: 25px;
  position: absolute;
}

#content_0_TextOutput42 {
  width: 229px;
}

#content_0_TextOutput42 {
  z-index: 2;
}

#content_0_TextOutput43 {
  height: 30px;
}

#content_0_TextOutput43 {
  top: 96px;
  position: absolute;
}

#content_0_TextOutput43 {
  left: 25px;
  position: absolute;
}

#content_0_TextOutput43 {
  width: 229px;
}

#content_0_TextOutput43 {
  z-index: 3;
}

#content_0_TextOutput44 {
  height: 30px;
}

#content_0_TextOutput44 {
  top: 127px;
  position: absolute;
}

#content_0_TextOutput44 {
  left: 25px;
  position: absolute;
}

#content_0_TextOutput44 {
  width: 229px;
}

#content_0_TextOutput44 {
  z-index: 4;
}

#content_0_TextOutput45 {
  height: 30px;
}

#content_0_TextOutput45 {
  top: 158px;
  position: absolute;
}

#content_0_TextOutput45 {
  left: 25px;
  position: absolute;
}

#content_0_TextOutput45 {
  width: 229px;
}

#content_0_TextOutput45 {
  z-index: 5;
}

#content_0_TextOutput46 {
  height: 30px;
}

#content_0_TextOutput46 {
  top: 186px;
  position: absolute;
}

#content_0_TextOutput46 {
  left: 25px;
  position: absolute;
}

#content_0_TextOutput46 {
  width: 229px;
}

#content_0_TextOutput46 {
  z-index: 6;
}

#content_0_TextOutput47 {
  height: 30px;
}

#content_0_TextOutput47 {
  top: 219px;
  position: absolute;
}

#content_0_TextOutput47 {
  left: 25px;
  position: absolute;
}

#content_0_TextOutput47 {
  width: 229px;
}

#content_0_TextOutput47 {
  z-index: 7;
}

#content_0_TextOutput48 {
  height: 30px;
}

#content_0_TextOutput48 {
  top: 248px;
  position: absolute;
}

#content_0_TextOutput48 {
  left: 25px;
  position: absolute;
}

#content_0_TextOutput48 {
  width: 229px;
}

#content_0_TextOutput48 {
  z-index: 8;
}

#content_0_TextOutput49 {
  height: 30px;
}

#content_0_TextOutput49 {
  top: 279px;
  position: absolute;
}

#content_0_TextOutput49 {
  left: 25px;
  position: absolute;
}

#content_0_TextOutput49 {
  width: 229px;
}

#content_0_TextOutput49 {
  z-index: 9;
}

#content_0_TextOutput50 {
  height: 30px;
}

#content_0_TextOutput50 {
  top: 307px;
  position: absolute;
}

#content_0_TextOutput50 {
  left: 25px;
  position: absolute;
}

#content_0_TextOutput50 {
  width: 229px;
}

#content_0_TextOutput50 {
  z-index: 10;
}

#content_0_TextOutput51 {
  height: 30px;
}

#content_0_TextOutput51 {
  top: 336px;
  position: absolute;
}

#content_0_TextOutput51 {
  left: 25px;
  position: absolute;
}

#content_0_TextOutput51 {
  width: 229px;
}

#content_0_TextOutput51 {
  z-index: 11;
}

#content_0_Ellipse12 {
  top: 11px;
  position: absolute;
}

#content_0_Ellipse12 {
  left: 13px;
  position: absolute;
}

#content_0_Ellipse12 {
  width: 20px;
}

#content_0_Ellipse12 {
  height: 20px;
}

#content_0_Ellipse12 {
  z-index: 12;
}

#content_0_Ellipse12 {
  border-width: 10px;
}

#content_0_Ellipse13 {
  top: 39px;
  position: absolute;
}

#content_0_Ellipse13 {
  left: 13px;
  position: absolute;
}

#content_0_Ellipse13 {
  width: 20px;
}

#content_0_Ellipse13 {
  height: 20px;
}

#content_0_Ellipse13 {
  z-index: 13;
}

#content_0_Ellipse13 {
  border-width: 10px;
}

#content_0_Ellipse14 {
  top: 72px;
  position: absolute;
}

#content_0_Ellipse14 {
  left: 13px;
  position: absolute;
}

#content_0_Ellipse14 {
  width: 20px;
}

#content_0_Ellipse14 {
  height: 20px;
}

#content_0_Ellipse14 {
  z-index: 14;
}

#content_0_Ellipse14 {
  border-width: 10px;
}

#content_0_Ellipse15 {
  top: 101px;
  position: absolute;
}

#content_0_Ellipse15 {
  left: 13px;
  position: absolute;
}

#content_0_Ellipse15 {
  width: 20px;
}

#content_0_Ellipse15 {
  height: 20px;
}

#content_0_Ellipse15 {
  z-index: 15;
}

#content_0_Ellipse15 {
  border-width: 10px;
}

#content_0_Ellipse16 {
  top: 131px;
  position: absolute;
}

#content_0_Ellipse16 {
  left: 13px;
  position: absolute;
}

#content_0_Ellipse16 {
  width: 20px;
}

#content_0_Ellipse16 {
  height: 20px;
}

#content_0_Ellipse16 {
  z-index: 16;
}

#content_0_Ellipse16 {
  border-width: 10px;
}

#content_0_Ellipse17 {
  top: 162px;
  position: absolute;
}

#content_0_Ellipse17 {
  left: 13px;
  position: absolute;
}

#content_0_Ellipse17 {
  width: 20px;
}

#content_0_Ellipse17 {
  height: 20px;
}

#content_0_Ellipse17 {
  z-index: 17;
}

#content_0_Ellipse17 {
  border-width: 10px;
}

#content_0_Ellipse18 {
  top: 192px;
  position: absolute;
}

#content_0_Ellipse18 {
  left: 13px;
  position: absolute;
}

#content_0_Ellipse18 {
  width: 20px;
}

#content_0_Ellipse18 {
  height: 20px;
}

#content_0_Ellipse18 {
  z-index: 18;
}

#content_0_Ellipse18 {
  border-width: 10px;
}

#content_0_Ellipse19 {
  top: 223px;
  position: absolute;
}

#content_0_Ellipse19 {
  left: 13px;
  position: absolute;
}

#content_0_Ellipse19 {
  width: 20px;
}

#content_0_Ellipse19 {
  height: 20px;
}

#content_0_Ellipse19 {
  z-index: 19;
}

#content_0_Ellipse19 {
  border-width: 10px;
}

#content_0_Ellipse20 {
  top: 253px;
  position: absolute;
}

#content_0_Ellipse20 {
  left: 13px;
  position: absolute;
}

#content_0_Ellipse20 {
  width: 20px;
}

#content_0_Ellipse20 {
  height: 20px;
}

#content_0_Ellipse20 {
  z-index: 20;
}

#content_0_Ellipse20 {
  border-width: 10px;
}

#content_0_Ellipse21 {
  top: 283px;
  position: absolute;
}

#content_0_Ellipse21 {
  left: 13px;
  position: absolute;
}

#content_0_Ellipse21 {
  width: 20px;
}

#content_0_Ellipse21 {
  height: 20px;
}

#content_0_Ellipse21 {
  z-index: 21;
}

#content_0_Ellipse21 {
  border-width: 10px;
}

#content_0_Ellipse22 {
  top: 311px;
  position: absolute;
}

#content_0_Ellipse22 {
  left: 13px;
  position: absolute;
}

#content_0_Ellipse22 {
  width: 20px;
}

#content_0_Ellipse22 {
  height: 20px;
}

#content_0_Ellipse22 {
  z-index: 22;
}

#content_0_Ellipse22 {
  border-width: 10px;
}

#content_0_Ellipse23 {
  top: 340px;
  position: absolute;
}

#content_0_Ellipse23 {
  left: 13px;
  position: absolute;
}

#content_0_Ellipse23 {
  width: 20px;
}

#content_0_Ellipse23 {
  height: 20px;
}

#content_0_Ellipse23 {
  z-index: 23;
}

#content_0_Ellipse23 {
  border-width: 10px;
}

#content_0_GroupBox8 {
  top: 25px;
  position: absolute;
}

#content_0_GroupBox8 {
  left: 312px;
  position: absolute;
}

#content_0_GroupBox8 {
  width: 300px;
}

#content_0_GroupBox8 {
  height: 399px;
}

#content_0_GroupBox8 {
  z-index: 1;
}

#content_0_TextOutput52 {
  height: 30px;
}

#content_0_TextOutput52 {
  top: 7px;
  position: absolute;
}

#content_0_TextOutput52 {
  left: 54px;
  position: absolute;
}

#content_0_TextOutput52 {
  width: 229px;
}

#content_0_TextOutput52 {
  z-index: 0;
}

#content_0_TextOutput53 {
  height: 30px;
}

#content_0_TextOutput53 {
  top: 35px;
  position: absolute;
}

#content_0_TextOutput53 {
  left: 54px;
  position: absolute;
}

#content_0_TextOutput53 {
  width: 229px;
}

#content_0_TextOutput53 {
  z-index: 1;
}

#content_0_TextOutput54 {
  height: 30px;
}

#content_0_TextOutput54 {
  top: 65px;
  position: absolute;
}

#content_0_TextOutput54 {
  left: 54px;
  position: absolute;
}

#content_0_TextOutput54 {
  width: 229px;
}

#content_0_TextOutput54 {
  z-index: 2;
}

#content_0_TextOutput55 {
  height: 30px;
}

#content_0_TextOutput55 {
  top: 97px;
  position: absolute;
}

#content_0_TextOutput55 {
  left: 54px;
  position: absolute;
}

#content_0_TextOutput55 {
  width: 229px;
}

#content_0_TextOutput55 {
  z-index: 3;
}

#content_0_TextOutput56 {
  height: 30px;
}

#content_0_TextOutput56 {
  top: 128px;
  position: absolute;
}

#content_0_TextOutput56 {
  left: 54px;
  position: absolute;
}

#content_0_TextOutput56 {
  width: 229px;
}

#content_0_TextOutput56 {
  z-index: 4;
}

#content_0_TextOutput57 {
  height: 30px;
}

#content_0_TextOutput57 {
  top: 159px;
  position: absolute;
}

#content_0_TextOutput57 {
  left: 54px;
  position: absolute;
}

#content_0_TextOutput57 {
  width: 229px;
}

#content_0_TextOutput57 {
  z-index: 5;
}

#content_0_TextOutput58 {
  height: 30px;
}

#content_0_TextOutput58 {
  top: 187px;
  position: absolute;
}

#content_0_TextOutput58 {
  left: 54px;
  position: absolute;
}

#content_0_TextOutput58 {
  width: 229px;
}

#content_0_TextOutput58 {
  z-index: 6;
}

#content_0_TextOutput59 {
  height: 30px;
}

#content_0_TextOutput59 {
  top: 220px;
  position: absolute;
}

#content_0_TextOutput59 {
  left: 54px;
  position: absolute;
}

#content_0_TextOutput59 {
  width: 229px;
}

#content_0_TextOutput59 {
  z-index: 7;
}

#content_0_TextOutput60 {
  height: 30px;
}

#content_0_TextOutput60 {
  top: 249px;
  position: absolute;
}

#content_0_TextOutput60 {
  left: 54px;
  position: absolute;
}

#content_0_TextOutput60 {
  width: 229px;
}

#content_0_TextOutput60 {
  z-index: 8;
}

#content_0_TextOutput61 {
  height: 30px;
}

#content_0_TextOutput61 {
  top: 280px;
  position: absolute;
}

#content_0_TextOutput61 {
  left: 54px;
  position: absolute;
}

#content_0_TextOutput61 {
  width: 229px;
}

#content_0_TextOutput61 {
  z-index: 9;
}

#content_0_TextOutput62 {
  height: 30px;
}

#content_0_TextOutput62 {
  top: 308px;
  position: absolute;
}

#content_0_TextOutput62 {
  left: 54px;
  position: absolute;
}

#content_0_TextOutput62 {
  width: 229px;
}

#content_0_TextOutput62 {
  z-index: 10;
}

#content_0_TextOutput63 {
  height: 30px;
}

#content_0_TextOutput63 {
  top: 337px;
  position: absolute;
}

#content_0_TextOutput63 {
  left: 54px;
  position: absolute;
}

#content_0_TextOutput63 {
  width: 229px;
}

#content_0_TextOutput63 {
  z-index: 11;
}

#content_0_Ellipse24 {
  top: 11px;
  position: absolute;
}

#content_0_Ellipse24 {
  left: 28px;
  position: absolute;
}

#content_0_Ellipse24 {
  width: 20px;
}

#content_0_Ellipse24 {
  height: 20px;
}

#content_0_Ellipse24 {
  z-index: 12;
}

#content_0_Ellipse24 {
  border-width: 10px;
}

#content_0_Ellipse25 {
  top: 41px;
  position: absolute;
}

#content_0_Ellipse25 {
  left: 28px;
  position: absolute;
}

#content_0_Ellipse25 {
  width: 20px;
}

#content_0_Ellipse25 {
  height: 20px;
}

#content_0_Ellipse25 {
  z-index: 13;
}

#content_0_Ellipse25 {
  border-width: 10px;
}

#content_0_Ellipse26 {
  top: 71px;
  position: absolute;
}

#content_0_Ellipse26 {
  left: 28px;
  position: absolute;
}

#content_0_Ellipse26 {
  width: 20px;
}

#content_0_Ellipse26 {
  height: 20px;
}

#content_0_Ellipse26 {
  z-index: 14;
}

#content_0_Ellipse26 {
  border-width: 10px;
}

#content_0_Ellipse27 {
  top: 103px;
  position: absolute;
}

#content_0_Ellipse27 {
  left: 28px;
  position: absolute;
}

#content_0_Ellipse27 {
  width: 20px;
}

#content_0_Ellipse27 {
  height: 20px;
}

#content_0_Ellipse27 {
  z-index: 15;
}

#content_0_Ellipse27 {
  border-width: 10px;
}

#content_0_Ellipse28 {
  top: 133px;
  position: absolute;
}

#content_0_Ellipse28 {
  left: 28px;
  position: absolute;
}

#content_0_Ellipse28 {
  width: 20px;
}

#content_0_Ellipse28 {
  height: 20px;
}

#content_0_Ellipse28 {
  z-index: 16;
}

#content_0_Ellipse28 {
  border-width: 10px;
}

#content_0_Ellipse29 {
  top: 163px;
  position: absolute;
}

#content_0_Ellipse29 {
  left: 28px;
  position: absolute;
}

#content_0_Ellipse29 {
  width: 20px;
}

#content_0_Ellipse29 {
  height: 20px;
}

#content_0_Ellipse29 {
  z-index: 17;
}

#content_0_Ellipse29 {
  border-width: 10px;
}

#content_0_Ellipse30 {
  top: 194px;
  position: absolute;
}

#content_0_Ellipse30 {
  left: 28px;
  position: absolute;
}

#content_0_Ellipse30 {
  width: 20px;
}

#content_0_Ellipse30 {
  height: 20px;
}

#content_0_Ellipse30 {
  z-index: 18;
}

#content_0_Ellipse30 {
  border-width: 10px;
}

#content_0_Ellipse31 {
  top: 226px;
  position: absolute;
}

#content_0_Ellipse31 {
  left: 28px;
  position: absolute;
}

#content_0_Ellipse31 {
  width: 20px;
}

#content_0_Ellipse31 {
  height: 20px;
}

#content_0_Ellipse31 {
  z-index: 19;
}

#content_0_Ellipse31 {
  border-width: 10px;
}

#content_0_Ellipse32 {
  top: 254px;
  position: absolute;
}

#content_0_Ellipse32 {
  left: 28px;
  position: absolute;
}

#content_0_Ellipse32 {
  width: 20px;
}

#content_0_Ellipse32 {
  height: 20px;
}

#content_0_Ellipse32 {
  z-index: 20;
}

#content_0_Ellipse32 {
  border-width: 10px;
}

#content_0_Ellipse33 {
  top: 285px;
  position: absolute;
}

#content_0_Ellipse33 {
  left: 28px;
  position: absolute;
}

#content_0_Ellipse33 {
  width: 20px;
}

#content_0_Ellipse33 {
  height: 20px;
}

#content_0_Ellipse33 {
  z-index: 21;
}

#content_0_Ellipse33 {
  border-width: 10px;
}

#content_0_Ellipse34 {
  top: 312px;
  position: absolute;
}

#content_0_Ellipse34 {
  left: 28px;
  position: absolute;
}

#content_0_Ellipse34 {
  width: 20px;
}

#content_0_Ellipse34 {
  height: 20px;
}

#content_0_Ellipse34 {
  z-index: 22;
}

#content_0_Ellipse34 {
  border-width: 10px;
}

#content_0_Ellipse35 {
  top: 339px;
  position: absolute;
}

#content_0_Ellipse35 {
  left: 28px;
  position: absolute;
}

#content_0_Ellipse35 {
  width: 20px;
}

#content_0_Ellipse35 {
  height: 20px;
}

#content_0_Ellipse35 {
  z-index: 23;
}

#content_0_Ellipse35 {
  border-width: 10px;
}
